In [19]:
import requests
import pandas as pd
players_response = requests.get("https://api.pbpstats.com/get-all-players-for-league/nba")
players = players_response.json()
#players["players"]

In [20]:
df = pd.DataFrame(players)

In [21]:
df.index.name = 'id'

In [22]:
df.reset_index(inplace=True)

In [23]:
df

          id           players
0       1000  Shandon Anderson
1       1005     Walt Williams
2     101106      Andrew Bogut
3     101107   Marvin Williams
4     101108        Chris Paul
...      ...               ...
2268     983    Moochie Norris
2269     988  Randy Livingston
2270     990        Malik Rose
2271     994       Jamie Feick
2272     998         Mark Pope

[2273 rows x 2 columns]

In [24]:
df.to_csv('names.csv',index = False)