In [1]:
import pandas as pd
import os
#url_list = [url1]#
import pandas as pd
from bs4 import BeautifulSoup
import requests
def get_dribbleshots(years,ps = False):
    dribbles=['0%20Dribbles','1%20Dribble','2%20Dribbles','3-6%20Dribbles','7%2B%20Dribbles']
    terms = ['0','1','2','3_6','7+']
    folder = '/player_shooting/'
    sfolder=''
    stype = "Regular%20Season"
    if ps == True:
        stype="Playoffs"
        sfolder = "/playoffs"
    dataframe=[]
    for year in years:
        i = 0
        for dribble in dribbles:
            #print(dribble)
            season = str(year)+'-'+str(year+1 - 2000)
            part1 = "https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=&College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&DribbleRange="
            part2 = "&GameScope=&GameSegment=&GeneralRange=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season="

            part3 = "&SeasonSegment=&SeasonType="+stype+"&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight="
            url = part1+dribble+part2+season+part3
            headers = {
                    "Host": "stats.nba.com",
                    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0",
                    "Accept": "application/json, text/plain, */*",
                    "Accept-Language": "en-US,en;q=0.5",
                    "Accept-Encoding": "gzip, deflate, br",

                    "Connection": "keep-alive",
                    "Referer": "https://stats.nba.com/"
                }
            json = requests.get(url,headers = headers).json()
            print(json.keys())
            data = json["resultSets"][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            json = requests.get(url,headers = headers).json()
            data = json['resultSets'][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            new_columns = {'FG2A_FREQUENCY':'2FG FREQ%', 'FG2_PCT':'2FG%',
             'FG2A':'2FGA',
             'FG2M':'2FGM',
             'FG3A_FREQUENCY':'3FG FREQ%',
             'FG3_PCT':'3P%',
             'FG3A':'3PA',
             'FG3M':'3PM',
             'EFG_PCT':'EFG%',
             'FG_PCT':'FG%',
             'FGA_FREQUENCY':'FREQ%',
             'PLAYER_NAME':'PLAYER',
             'PLAYER_LAST_TEAM_ABBREVIATION':'TEAM'}
            df = df.rename(columns = new_columns)
            df = df [['PLAYER_ID','PLAYER', 'TEAM', 'AGE', 'GP', 'G', 'FREQ%', 'FGM', 'FGA', 'FG%',
                   'EFG%', '2FG FREQ%', '2FGM', '2FGA', '2FG%', '3FG FREQ%', '3PM', '3PA',
                   '3P%']]
            for col in df.columns:
                if '%' in col or 'PERC' in col:
                    df[col]*=100
            term = terms[i]
            df['dribbles'] = term
            df['year']=year+1
            dataframe.append(df)

            i+=1
    return pd.concat(dataframe)

def master_dribble(year,ps = False):
    trail='_ps'
    if ps == False:
        trail=''
    old = pd.read_csv('dribbleshot'+trail+'.csv')
    df = get_dribbleshots([year],ps=ps)
    year+=1

    old = old[old.year!=year]
    new_master = pd.concat([old,df])
    new_master.to_csv('dribbleshot'+trail+'.csv',index=False)
    return new_master
def get_dribbleshots2(years,ps = False):
    dribbles=['0%20Dribbles','1%20Dribble','2%20Dribbles','3-6%20Dribbles','7%2B%20Dribbles']
    terms = ['0','1','2','3_6','7+']
    folder = '/player_shooting/'
    sfolder=''
    stype = "Regular%20Season"
    if ps == True:
        stype="Playoffs"
        sfolder = "/playoffs"
    dataframe=[]
    for year in years:
        i = 0
        for dribble in dribbles:
            #print(dribble)
            season = str(year)+'-'+str(year+1 - 2000)
            part1 = "https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=&College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&DribbleRange="
            part2 = "&GameScope=&GameSegment=&GeneralRange=Catch%20and%20Shoot&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season="

            part3 = "&SeasonSegment=&SeasonType="+stype+"&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight="
            url = part1+dribble+part2+season+part3
            headers = {
                    "Host": "stats.nba.com",
                    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0",
                    "Accept": "application/json, text/plain, */*",
                    "Accept-Language": "en-US,en;q=0.5",
                    "Accept-Encoding": "gzip, deflate, br",

                    "Connection": "keep-alive",
                    "Referer": "https://stats.nba.com/"}
            json = requests.get(url,headers = headers).json()
            print(json.keys())
            data = json["resultSets"][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            json = requests.get(url,headers = headers).json()
            data = json['resultSets'][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            new_columns = {'FG2A_FREQUENCY':'2FG FREQ%', 'FG2_PCT':'2FG%',
                             'FG2A':'2FGA',
                             'FG2M':'2FGM',
                             'FG3A_FREQUENCY':'3FG FREQ%',
                             'FG3_PCT':'3P%',
                             'FG3A':'3PA',
                             'FG3M':'3PM',
                             'EFG_PCT':'EFG%',
                             'FG_PCT':'FG%',
                             'FGA_FREQUENCY':'FREQ%',
                             'PLAYER_NAME':'PLAYER',
                             'PLAYER_LAST_TEAM_ABBREVIATION':'TEAM'}
            df = df.rename(columns = new_columns)
            df = df [['PLAYER_ID','PLAYER', 'TEAM', 'AGE', 'GP', 'G', 'FREQ%', 'FGM', 'FGA', 'FG%',
                   'EFG%', '2FG FREQ%', '2FGM', '2FGA', '2FG%', '3FG FREQ%', '3PM', '3PA','3P%']]
            for col in df.columns:
                if '%' in col or 'PERC' in col:
                    df[col]*=100
            term = terms[i]
            df['dribbles'] = term
            df['year']=year+1
            dataframe.append(df)
          
            part1 = "https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=&College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&DribbleRange="
            part2 = "&GameScope=&GameSegment=&GeneralRange=Pullups&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season="

            part3 = "&SeasonSegment=&SeasonType="+stype+"&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight="
            url = part1+dribble+part2+season+part3
            headers = {
                    "Host": "stats.nba.com",
                    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0",
                    "Accept": "application/json, text/plain, */*",
                    "Accept-Language": "en-US,en;q=0.5",
                    "Accept-Encoding": "gzip, deflate, br",

                    "Connection": "keep-alive",
                    "Referer": "https://stats.nba.com/"}
            json = requests.get(url,headers = headers).json()
            print(json.keys())
            data = json["resultSets"][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            json = requests.get(url,headers = headers).json()
            data = json['resultSets'][0]["rowSet"]
            columns = json["resultSets"][0]["headers"]
            df = pd.DataFrame.from_records(data, columns=columns)
            new_columns = {'FG2A_FREQUENCY':'2FG FREQ%', 'FG2_PCT':'2FG%',
                                 'FG2A':'2FGA',
                                 'FG2M':'2FGM',
                                 'FG3A_FREQUENCY':'3FG FREQ%',
                                 'FG3_PCT':'3P%',
                                 'FG3A':'3PA',
                                 'FG3M':'3PM',
                                 'EFG_PCT':'EFG%',
                                 'FG_PCT':'FG%',
                                 'FGA_FREQUENCY':'FREQ%',
                                 'PLAYER_NAME':'PLAYER',
                                 'PLAYER_LAST_TEAM_ABBREVIATION':'TEAM'}
            df = df.rename(columns = new_columns)
            df = df [['PLAYER_ID','PLAYER', 'TEAM', 'AGE', 'GP', 'G', 'FREQ%', 'FGM', 'FGA', 'FG%','EFG%', '2FG FREQ%', '2FGM', '2FGA', '2FG%', '3FG FREQ%', '3PM', '3PA','3P%']]
            for col in df.columns:
                if '%' in col or 'PERC' in col:
                    df[col]*=100
            term = terms[i]
            df['dribbles'] = term
            df['year']=year+1
            i+=1
            dataframe.append(df)
    return pd.concat(dataframe)

def master_jump(year,ps = False):
    trail='_ps'
    if ps == False:
        trail=''
    old = pd.read_csv('jumpdribble'+trail+'.csv')
    df = get_dribbleshots2([year],ps=ps)
    print(df)
    data_col=['FGM', 'FGA', '2FGM', '2FGA', '3PM', '3PA']
    for col in data_col:
        df[col]=df[col].astype(int)
        
    df2 = df.groupby(['PLAYER_ID', 'PLAYER', 'TEAM', 'AGE', 'GP', 'G', 'dribbles', 'year']).sum(numeric_only=True).reset_index()
    print(df2.columns)
    print(df2)

    year+=1

    old = old[old.year!=year]
    old=old.dropna(subset='year')
    new_master = pd.concat([old,df2])
    new_master.to_csv('jumpdribble'+trail+'.csv',index=False)
    return new_master
#df = master_dribble(2023,ps=True)
#df = master_jump(2023,ps = True)
print('start')
start_year=2013
end_year=2025
years = [i for i in range(start_year,end_year)]
#df=get_dribbleshots(years,ps=False)
years = [i for i in range(start_year,end_year)]

#df_ps=get_dribbleshots(years,ps=True)
#df.to_csv('dribbleshot.csv',index=False)
#df_ps.to_csv('dribbleshot_ps.csv',index=False)

ps=True
df = master_dribble(2024,ps=ps)
df = master_jump(2024,ps = ps)

start
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
dict_keys(['resource', 'parameters', 'resultSets'])
   PLAYER_ID                 PLAYER TEAM   AGE GP  G  FREQ% FGM FGA   FG%  \
0    1627736          Malik Beasley  DET  28.0  1  1   62.5   6  10  60.0
1    1629675               Naz Reid  MIN  25.0  1  1   75.0   6   9  66.7
2    1631260               AJ Green  MIL  25.0  1  1   61.5   3   8  37.5
3     203501       Tim Hardaway Jr.  DET  33.0  1  1   61.5   3   8  37.5
4    1626167           Myles Turner  IND  29.0  1  1   58.3   4   7  57.1
..       ...                    ...  ...   ... .. ..    ...  ..  ..   ...
14    202699          Tobias Harris  DET  32.0  1  1    7.7   0   1   0.0
15    203507  Giannis Antetokounmpo  MIL  30.0  1  1    4.3   0   1   0.0
16   1629003           Shake Milton  LAL  28.0  1  1  100.0   0   1   0.0
17   1626181          Norman Powell  LAC  31.0  1  1    8.3   0   1   0.0
18   1627736          Malik Beasley  DET  28.0  1  1    6.3   0   1   0.0

    ...  2FG FREQ%  2FGM 2FGA  2FG%  3FG FREQ%  3PM 3PA   3P%  dribbles  year
0   ...        0.0     0    0   NaN       62.5    6  10  60.0         0  2025
1   ...        0.0     0    0   NaN       75.0    6   9  66.7         0  2025
2   ...        0.0     0    0   NaN       61.5    3   8  37.5         0  2025
3   ...        0.0     0    0   NaN       61.5    3   8  37.5         0  2025
4   ...       16.7     1    2  50.0       41.7    3   5  60.0         0  2025
..  ...        ...   ...  ...   ...        ...  ...  ..   ...       ...   ...
14  ...        7.7     0    1   0.0        0.0    0   0   NaN        7+  2025
15  ...        0.0     0    0   NaN        4.3    0   1   0.0        7+  2025
16  ...      100.0     0    1   0.0        0.0    0   0   NaN        7+  2025
17  ...        0.0     0    0   NaN        8.3    0   1   0.0        7+  2025
18  ...        6.3     0    1   0.0        0.0    0   0   NaN        7+  2025

[170 rows x 21 columns]
Index(['PLAYER_ID', 'PLAYER', 'TEAM', 'AGE', 'GP', 'G', 'dribbles', 'year',
       'FREQ%', 'FGM', 'FGA', 'FG%', 'EFG%', '2FG FREQ%', '2FGM', '2FGA',
       '2FG%', '3FG FREQ%', '3PM', '3PA', '3P%'],
      dtype='object')
     PLAYER_ID         PLAYER TEAM   AGE  GP  G dribbles  year  FREQ%  FGM  \
0         2544   LeBron James  LAL  40.0   1  1        0  2025   16.7    1
1         2544   LeBron James  LAL  40.0   1  1        1  2025    5.6    0
2         2544   LeBron James  LAL  40.0   1  1      3_6  2025   22.2    1
3         2544   LeBron James  LAL  40.0   1  1       7+  2025   11.1    1
4       201144    Mike Conley  MIN  37.0   1  1        0  2025   20.0    1
..         ...            ...  ...   ...  .. ..      ...   ...    ...  ...
165    1642261  Dalton Knecht  LAL  24.0   1  1        0  2025   50.0    0
166    1642261  Dalton Knecht  LAL  24.0   1  1        1  2025   25.0    1
167    1642261  Dalton Knecht  LAL  24.0   1  1      3_6  2025   25.0    1
168    1642355   Bronny James  LAL  20.0   1  1        0  2025   50.0    0
169    1642355   Bronny James  LAL  20.0   1  1      3_6  2025   50.0    0

     ...    FG%   EFG%  2FG FREQ%  2FGM  2FGA   2FG%  3FG FREQ%  3PM  3PA  \
0    ...   33.3   50.0        0.0     0     0    0.0       16.7    1    3
1    ...    0.0    0.0        5.6     0     1    0.0        0.0    0    0
2    ...   25.0   25.0       16.7     1     3   33.3        5.6    0    1
3    ...   50.0   50.0        5.6     1     1  100.0        5.6    0    1
4    ...  100.0  150.0        0.0     0     0    0.0       20.0    1    1
..   ...    ...    ...        ...   ...   ...    ...        ...  ...  ...
165  ...    0.0    0.0        0.0     0     0    0.0       50.0    0    2
166  ...  100.0  150.0        0.0     0     0    0.0       25.0    1    1
167  ...  100.0  100.0       25.0     1     1  100.0        0.0    0    0
168  ...    0.0    0.0        0.0     0     0    0.0       50.0    0    1
169  ...    0.0    0.0        0.0     0     0    0.0       50.0    0    1

       3P%
0     33.3
1      0.0
2      0.0
3      0.0
4    100.0
..     ...
165    0.0
166  100.0
167    0.0
168    0.0
169    0.0

[170 rows x 21 columns]

/tmp/ipykernel_81767/937552307.py:191: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dataframe)

In [ ]:
df

,PLAYER_ID,PLAYER,dribbles,year,FGM,FGA,2FGM,2FGA,3PM,3PA,...,TEAM,AGE,G,FREQ%,FG%,EFG%,2FG FREQ%,2FG%,3FG FREQ%,3P%
0,708.0,Kevin Garnett,0,2014,8,17,8,16,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,708.0,Kevin Garnett,1,2014,5,12,5,11,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,708.0,Kevin Garnett,3_6,2014,0,1,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,951.0,Ray Allen,0,2014,29,77,0,5,29,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,951.0,Ray Allen,1,2014,3,10,1,5,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,1642261.0,Dalton Knecht,0,2025,0,2,0,0,0,2,...,LAL,24.0,1.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0
166,1642261.0,Dalton Knecht,1,2025,1,1,0,0,1,1,...,LAL,24.0,1.0,25.0,100.0,150.0,0.0,0.0,25.0,100.0
167,1642261.0,Dalton Knecht,3_6,2025,1,1,1,1,0,0,...,LAL,24.0,1.0,25.0,100.0,100.0,25.0,100.0,0.0,0.0
168,1642355.0,Bronny James,0,2025,0,1,0,0,0,1,...,LAL,20.0,1.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0
169,1642355.0,Bronny James,3_6,2025,0,1,0,0,0,1,...,LAL,20.0,1.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0