In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from pathlib import Path
import time
from unidecode import unidecode

'''
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException 
from selenium.webdriver.support.select import Select
'''
url = 'https://www.nba.com/stats/players/traditional?SeasonType=IST'
xpath = '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select'
def get_ptables(url_list,path_list):
    data = []
    options = webdriver.FirefoxOptions()
    driver = webdriver.Firefox(options=options)
    cookie_check = False
    for i in range(len(url_list)):
        url = url_list[i]
        xpath = path_list[i]
        print(url)
        
        driver.get(url)
        accept_path = '//*[@id="onetrust-accept-btn-handler"]'
        time.sleep(5)

        if EC.presence_of_element_located((By.XPATH, accept_path)) and cookie_check == False:
            driver.find_element(By.XPATH, accept_path).click() 
            cookie_check = True
            time.sleep(1)
        

        element = WebDriverWait(driver, 20).until(
        EC.presence_of_element_located((By.XPATH, xpath)))
        # Wait for the page to fully load
        #time.sleep(5)
        '''if check_exists_by_xpath(driver, "//a[contains(text(),'>')]/preceding-sibling::a[1]"):
            number_of_pages = int(driver.find_element(By.XPATH, "//a[contains(text(),'>')]/preceding-sibling::a[1]").text)
            print(number_of_pages)'''
        
        dropdown1 = Select(driver.find_element(By.XPATH, xpath))
        dropdown1.select_by_index(0)

        # Step 2: Parse HTML code and grab tables with Beautiful Soup
        
        soup = BeautifulSoup(driver.page_source, 'lxml')

        tables = soup.find_all('table')
        

        # Step 3: Read tables with Pandas read_html()
        dfs = pd.read_html(str(tables))
        #needed table is at the end
        df= dfs[-1]

       
        data.append(df)
    driver.close()
    return data
'''
urls = [url]
paths = [xpath]
data = get_ptables(urls,paths)
df = data[0]
df = df[[col for col in df.columns if ' RANK' not in col]]
df = df.drop(columns=['Unnamed: 0'])
df.to_csv('inseason_2024.csv',index = False)
'''

"\nurls = [url]\npaths = [xpath]\ndata = get_ptables(urls,paths)\ndf = data[0]\ndf = df[[col for col in df.columns if ' RANK' not in col]]\ndf = df.drop(columns=['Unnamed: 0'])\ndf.to_csv('inseason_2024.csv',index = False)\n"

In [9]:
def get_table(year,minutes,ps = False):
    if ps == False:
        stype = 'leagues'
    else:
        stype='playoffs'
    link_1 = 'https://www.basketball-reference.com/'+stype+'/NBA_'+str(year)+'_totals.html'
    df = pd.read_html(link_1)[0]
   
    df = df[df["MP"].notna()]
    df = df[df['MP'] != 'MP']
    df['MP'] = df['MP'].astype(float)
    df['PTS'] = df['PTS'].astype(float)
    df['FTA'] = df['FTA'].astype(float)
    df['FGA'] = df['FGA'].astype(float)

    df['TS%'] = df['PTS']/(2* (df['FGA'] + .44 *df['FTA'] ))

    df = df[df['MP'] >minutes]
    df['TS%'] *=100
    df['G'] = df['G'].astype(int)
    
    #print(df)
    return [ df[['Player','TS%','PTS','MP','Tm','G','FTA','FGA']],year]
    
def get_table2(year,minutes,ps = False):
    if ps == False:
        stype = 'leagues'
    else:
        stype='playoffs'
    link_1 = 'https://www.basketball-reference.com/'+stype+'/NBA_'+str(year)+'_per_poss.html'
    df = pd.read_html(link_1)[0]
   
    df = df[df["MP"].notna()]
    df = df[df['MP'] != 'MP']
    df['MP'] = df['MP'].astype(float)
    df['PTS'] = df['PTS'].astype(float)
    df['FTA'] = df['FTA'].astype(float)
    df['FGA'] = df['FGA'].astype(float)

    df['TS%'] = df['PTS']/(2* (df['FGA'] + .44 *df['FTA'] ))

    df = df[df['MP'] >minutes]
    df['TS%'] *=100
    df['G'] = df['G'].astype(int)
    return [ df[['Player','TS%','PTS','MP','Tm','G']],year]
    #print(df)
    
year = 2024
minutes = 0
ps = True
if ps == False:
    df = pd.read_csv('scoring.csv')
    df = df[df.year<year]
    new_table,year = get_table2(year,minutes,ps)
    print(new_table)
    new_table['year'] = year
    df = pd.concat([df,new_table])
    df['year'] = df['year'].astype(int)
    #df =df.drop(columns=['FTA','FGA'])
    df.to_csv('scoring.csv',index=False)
    print(df)
    
    df = pd.read_csv('totals.csv')
    df = df[df.year<year]
    new_table,year = get_table(year,minutes,ps)
    new_table['year'] = year
    df = pd.concat([df,new_table])
    df['year'] = df['year'].astype(int)

    df.to_csv('totals.csv',index = False)
    
elif ps == True:
    df = pd.read_csv('scoring_ps.csv')
    df = df[df.year<year]
    #df = df.drop(columns=['FTA','FGA'])
    print(df)
    new_table,year = get_table2(year,minutes,ps)
    print(new_table)
   
    new_table['year'] = year
    df = pd.concat([df,new_table])
    df.to_csv('scoring_ps.csv',index=False)
    new_table['year'] = year
    
    df = pd.read_csv('totals_ps.csv')
    df = df[df.year<year]
    new_table,year = get_table(year,minutes,ps)
    new_table['year'] = year
    df = pd.concat([df,new_table])
    df['year'] = df['year'].astype(int)
    df.to_csv('totals_ps.csv',index= False)
df

                    Player        TS%   PTS     MP   Tm   G  year
0     Kareem Abdul-Jabbar*  58.196953  33.0  758.0  MIL  16  1974
1                Don Adams  40.301945  12.6  256.0  DET   7  1974
2            Rick Adelman*  50.000000  17.8  108.0  CHI   9  1974
3            Dennis Awtrey  46.241637   9.4  158.0  CHI  10  1974
4              Henry Bibby  41.849415  22.9   89.0  NYK  10  1974
...                    ...        ...   ...    ...  ...  ..   ...
9074       Ziaire Williams  35.689046  20.2   12.0  MEM   4  2023
9075            Trae Young  52.131204  36.3  230.0  ATL   6  2023
9076        Omer Yurtseven  28.603604  12.7   16.0  MIA   8  2023
9077           Cody Zeller  55.207647  13.4  174.0  MIA  21  2023
9078           Ivica Zubac  62.138728  17.2  130.0  LAC   5  2023

[9079 rows x 7 columns]
                       Player        TS%   PTS    MP   Tm  G
0                 Bam Adebayo  63.411669  31.3  76.0  MIA  2
1    Nickeil Alexander-Walker  62.526382  23.7  60.0  MIN  2
2               Grayson Allen  52.083333   8.3  43.0  PHO  2
3               Jarrett Allen  61.029738  22.0  74.0  CLE  2
4               Jose Alvarado  20.977011   7.3  36.0  NOP  2
..                        ...        ...   ...   ...  ... ..
175           Jaylin Williams  60.091743  13.1  24.0  OKC  2
176          Kenrich Williams  25.000000   8.7  12.0  OKC  2
177              Delon Wright  92.932706  25.3  46.0  MIA  2
178            Thaddeus Young        NaN   0.0   4.0  PHO  1
179               Ivica Zubac  52.285207  25.9  67.0  LAC  2

[172 rows x 6 columns]

                   Player        TS%    PTS     MP   Tm   G   FTA    FGA  year
0    Kareem Abdul-Jabbar*  58.252647  515.0  758.0  MIL  16  91.0  402.0  1974
1               Don Adams  40.424457   64.0  256.0  DET   7  14.0   73.0  1974
2           Rick Adelman*  50.205973   39.0  108.0  CHI   9  11.0   34.0  1974
3           Dennis Awtrey  46.296296   30.0  158.0  CHI  10  10.0   28.0  1974
4             Henry Bibby  41.766110   42.0   89.0  NYK  10  12.0   45.0  1974
..                    ...        ...    ...    ...  ...  ..   ...    ...   ...
175       Jaylin Williams  60.000000    6.0   24.0  OKC   2   0.0    5.0  2024
176      Kenrich Williams  25.000000    2.0   12.0  OKC   2   0.0    4.0  2024
177          Delon Wright  92.592593   22.0   46.0  MIA   2   2.0   11.0  2024
178        Thaddeus Young        NaN    0.0    4.0  PHO   1   0.0    0.0  2024
179           Ivica Zubac  52.149178   33.0   67.0  LAC   2   6.0   29.0  2024

[9251 rows x 9 columns]

In [3]:
start_year = 1974
end_year = 2024
averages = pd.read_html('https://www.basketball-reference.com/leagues/NBA_stats_per_game.html#stats', header=1)[0]

#averages= averages.dropna()

averages = averages[averages['Season']!='Season']
averages = averages[averages['PTS']!='Per Game']

averages['PTS'] = averages['PTS'].astype(float)
averages['FGA'] = averages['FGA'].astype(float)
averages['FTA'] = averages['FTA'].astype(float)
averages['TS%'] = averages['PTS']/(2* (averages['FGA'] + .44 *averages['FTA'] ))
averages['TS%'] = averages['PTS']/(2* (averages['FGA'] + .44 *averages['FTA'] ))
averages = averages[['TS%','Season']]
averages['Season'] = averages['Season'].str[:4]
averages['Season'] = averages['Season'].astype(int)
averages['Season']+=1
averages = averages[averages['Season']>=start_year]
averages = averages[averages['Season']<=end_year]
averages = averages.iloc[::-1]

In [4]:
averages.to_csv('tsavg.csv',index = False)

In [5]:
df = pd.read_csv('scoring_ps.csv')
df['Player'] = df['Player'].apply(unidecode)
df['Player'] = df['Player'].astype(str)
df.to_csv('scoring_ps.csv',index = False,encoding='utf-8')

df = pd.read_csv('scoring.csv')
df['Player'] = df['Player'].apply(unidecode)
df['Player'] = df['Player'].astype(str)
df.to_csv('scoring.csv',index = False,encoding='utf-8')

In [6]:
df = pd.read_csv('totals_ps.csv')
df['Player'] = df['Player'].apply(unidecode)
df['Player'] = df['Player'].astype(str)
df.to_csv('totals_ps.csv',index = False,encoding='utf-8')

df = pd.read_csv('totals.csv')
df['Player'] = df['Player'].astype(str)
df['Player'] = df['Player'].apply(unidecode)
df['Player'] = df['Player'].astype(str)
df.to_csv('totals.csv',index = False,encoding='utf-8')