In [1]:
import requests
from bs4 import BeautifulSoup,Comment
import pandas as pd
import time
import os
import sys
import unicodedata
import re
# URL of the NBA awards page
import numpy as np
from nba_api.stats.endpoints import commonallplayers
from nba_api.stats.static import players,teams

# Get current season year in the format "2023-24" for example

# URL of the NBA awards page
import requests
import pandas as pd
import time
from bs4 import BeautifulSoup


def pull_bref(ps=False,totals=False):
    leagues = "playoffs" if ps else "leagues"
    frames = []
    for year in range(2025, 2026):
        if totals ==True:
            url = f"https://www.basketball-reference.com/{leagues}/NBA_{year}_totals.html"
            pt_index=28
        else:
            url = f"https://www.basketball-reference.com/{leagues}/NBA_{year}_per_poss.html"
            pt_index=28
        print(url)
        response = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        response.encoding = 'utf-8' 
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find the specific table
        table = soup.find('table')
        
        # Get all rows from the table body
        rows = table.find('tbody').find_all('tr')
        
        # Define the data structure to store extracted rows
        data = []
        for row in rows:
            cells = row.find_all('td')
            if cells:
                # Extract player name, url, team, and stats required
                player_cell = cells[0]
                player_name = player_cell.text if player_cell.text else "N/A"  # Player name
                player_url = "https://www.basketball-reference.com" + player_cell.a['href'] if player_cell.a else "N/A"  # Player URL
                team_acronym = cells[2].text if cells[2].text else "N/A"  # Team acronym
                
                gp = cells[4].text if len(cells) > 4 else "0"  # Minutes played
                mp = cells[6].text if len(cells) > 6 else "0"  # Minutes played

                # Columns required for True Shooting Percentage calculation
                fga = cells[8].text if len(cells) > 8 else "0"  # Field Goal Attempts
                fg = cells[7].text if len(cells) > 7 else "0"   # Field Goals Made
                tpa = cells[11].text if len(cells) > 11 else "0" # Three-Point Attempts
                tp = cells[10].text if len(cells) > 10 else "0"  # Three-Point Made
                fta = cells[18].text if len(cells) > 18 else "0" # Free Throw Attempts
                ft = cells[17].text if len(cells) > 17 else "0"  # Free Throws Made
                pts = cells[pt_index].text if len(cells) > pt_index else "0"  #
                
                data.append([
                    player_name, player_url, team_acronym, year, gp,mp, fga, fg, tpa, tp, fta, ft,pts
                ])
        
        # Create DataFrame for the current year
        year_data = pd.DataFrame(
            data=data, 
            columns=['player', 'url', 'team', 'year', 'G','MP', 'FGA', 'FG', '3PA', '3P', 'FTA', 'FT','PTS']
        )
        frames.append(year_data)
        print(f"Year {year} data added.")
        time.sleep(2)
    
    return pd.concat(frames)


index_frame=pull_bref(ps=False,totals=True)
index_frame['bref_id']=index_frame['url'].str.split('/',expand=True)[5]
index_frame['bref_id']=index_frame['bref_id'].str.split('.',expand=True)[0]
master = pd.read_csv('index_master.csv')
match_dict=dict(zip(master['bref_id'],master['nba_id']))

team_dict=dict(zip(master['team'],master['team_id']))

search_dict={
    "hollaro01": 1641842,
    "sarral01": 1642259,
    "dadiepa01": 1642359,
    "cuiyo01": 1642385,
    "dasiltr01": 1641783,

}
match_dict.update(search_dict)
index_frame['nba_id']=index_frame['bref_id'].map(match_dict)



current_season = "2024-25"  # Update this to the current season if needed

# Fetch all players for the current season
players_data = commonallplayers.CommonAllPlayers(is_only_current_season=1, season=current_season)
players_list = players_data.get_data_frames()[0]

# Display a list of player names
player_names = dict(zip(players_list['DISPLAY_FIRST_LAST'],players_list['PERSON_ID']))

notfound=index_frame[index_frame.year==2025].reset_index(drop=True)
notfound=index_frame[index_frame.nba_id.isna()].reset_index(drop=True)
notfound['nba_id']=notfound['player'].map(player_names)
notfound.dropna(inplace=True)
index_frame.dropna(inplace=True)



index_frame=pd.concat([index_frame,notfound])
index_frame['team_id']=index_frame['team'].map(team_dict)
index_copy = index_frame[['player', 'url', 'year', 'team', 'bref_id', 'nba_id', 'team_id']]
master=master[master.year!=2025]
master=pd.concat([master,index_copy])
master.drop_duplicates(inplace=True)
master.to_csv('index_master.csv',index=False)
index_frame.dropna(subset='bref_id',inplace=True)
index_frame['FTA']=index_frame['FTA'].astype(int)
index_frame['FGA']=index_frame['FGA'].astype(int)

index_frame['PTS']=index_frame['PTS'].astype(int)
year=2025
old_scoring=pd.read_csv('totals.csv')
old_scoring=old_scoring[old_scoring.year<year]
old_scoring.columns

index_frame['TS%'] = (index_frame['PTS'] / (2 * (index_frame['FGA'] + 0.44 * index_frame['FTA']))) * 100

# Select and rename columns to match scoring.csv
new_df = index_frame[['player', 'TS%', 'PTS', 'MP', 'team', 'G', 'FTA','FGA','year', 'nba_id']].copy()
new_df = new_df.rename(columns={
    'player': 'Player',
    'team': 'Tm'
})

# Display the resulting DataFrame
new_scoring=pd.concat([old_scoring,new_df])
new_scoring.fillna(0,inplace=True)
new_scoring.replace([np.inf, -np.inf], 0, inplace=True)
new_scoring.loc[new_scoring['TS%'] > 150, 'TS%'] = 0

new_scoring.to_csv('totals.csv',index=False)
new_scoring[new_scoring.nba_id==2544]

https://www.basketball-reference.com/leagues/NBA_2025_totals.html
Year 2025 data added.

,Player,TS%,PTS,MP,Tm,G,FTA,FGA,year,nba_id
12867,LeBron James,48.807838,1654.0,3122.0,CLE,79,460.0,1492.0,2004,2544.0
13464,LeBron James,55.376202,2175.0,3388.0,CLE,80,636.0,1684.0,2005,2544.0
14036,LeBron James,56.804636,2478.0,3361.0,CLE,79,814.0,1823.0,2006,2544.0
14576,LeBron James,55.249191,2132.0,3190.0,CLE,78,701.0,1621.0,2007,2544.0
15132,LeBron James,56.782621,2250.0,3027.0,CLE,75,771.0,1642.0,2008,2544.0
15724,LeBron James,59.129078,2304.0,3054.0,CLE,81,762.0,1613.0,2009,2544.0
16318,LeBron James,60.435090,2258.0,2966.0,CLE,76,773.0,1528.0,2010,2544.0
16922,LeBron James,59.407222,2111.0,3063.0,MIA,79,663.0,1485.0,2011,2544.0
17505,LeBron James,60.544795,1683.0,2326.0,MIA,62,502.0,1169.0,2012,2544.0
18041,LeBron James,64.049327,2036.0,2877.0,MIA,76,535.0,1354.0,2013,2544.0
18655,LeBron James,64.859662,2089.0,2902.0,MIA,77,585.0,1353.0,2014,2544.0
19262,LeBron James,57.664823,1743.0,2493.0,CLE,69,528.0,1279.0,2015,2544.0
19886,LeBron James,58.822088,1920.0,2709.0,CLE,76,491.0,1416.0,2016,2544.0
20469,LeBron James,61.927943,1954.0,2794.0,CLE,74,531.0,1344.0,2017,2544.0
21098,LeBron James,62.057520,2251.0,3026.0,CLE,82,531.0,1580.0,2018,2544.0
21793,LeBron James,58.838708,1505.0,1937.0,LAL,55,418.0,1095.0,2019,2544.0
22486,LeBron James,57.729968,1698.0,2316.0,LAL,67,381.0,1303.0,2020,2544.0
23146,LeBron James,60.201027,1126.0,1504.0,LAL,45,255.0,823.0,2021,2544.0
23890,LeBron James,61.913737,1695.0,2084.0,LAL,56,336.0,1221.0,2022,2544.0
24640,LeBron James,58.332355,1590.0,1954.0,LAL,55,327.0,1219.0,2023,2544.0
25338,LeBron James,62.968288,1822.0,2504.0,LAL,71,404.0,1269.0,2024,2544.0
17,LeBron James,60.589384,1167.0,1658,LAL,48,216.0,868.0,2025,2544.0

In [2]:

def pull_bref_score(ps=False,totals=False):
    leagues = "playoffs" if ps else "leagues"
    frames = []
    for year in range(2025, 2026):
   
        url = f"https://www.basketball-reference.com/{leagues}/NBA_{year}_per_poss.html"

        response = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        
        response.encoding = 'utf-8' 
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find the specific table
        table = soup.find('table')
        
        # Get all rows from the table body
        rows = table.find('tbody').find_all('tr')
        
        # Define the data structure to store extracted rows
        data = []
        for row in rows:
            cells = row.find_all('td')
            if cells:
                pt_index=28
                # Extract player name, url, team, and stats required
                player_cell = cells[0]
                player_name = player_cell.text if player_cell.text else "N/A"  # Player name
                player_url = "https://www.basketball-reference.com" + player_cell.a['href'] if player_cell.a else "N/A"  # Player URL
                team_acronym = cells[2].text if cells[2].text else "N/A"  # Team acronym
                
                gp = cells[4].text if len(cells) > 4 else "0"  # Minutes played
                mp = cells[6].text if len(cells) > 6 else "0"  # Minutes played

                # Columns required for True Shooting Percentage calculation
                fga = cells[8].text if len(cells) > 8 else "0"  # Field Goal Attempts
                fg = cells[7].text if len(cells) > 7 else "0"   # Field Goals Made
                tpa = cells[11].text if len(cells) > 11 else "0" # Three-Point Attempts
                tp = cells[10].text if len(cells) > 10 else "0"  # Three-Point Made
                fta = cells[21].text if len(cells) > 21 else "0" # Free Throw Attempts
                ft = cells[20].text if len(cells) > 20 else "0"  # Free Throws Made
                pts = cells[pt_index].text if len(cells) > pt_index else "0"  # Free Throws Made
                
                data.append([
                    player_name, player_url, team_acronym, year, gp,mp, fga, fg, tpa, tp, fta, ft,pts
                ])
        
        # Create DataFrame for the current year
        year_data = pd.DataFrame(
            data=data, 
            columns=['player', 'url', 'team', 'year', 'G','MP', 'FGA', 'FG', '3PA', '3P', 'FTA', 'FT','PTS']
        )
        frames.append(year_data)
        print(year_data.iloc[0])
        print(f"Year {year} data added.")
        time.sleep(2)
    
    return pd.concat(frames)
index_frame=pull_bref_score(ps=False)
index_frame['bref_id']=index_frame['url'].str.split('/',expand=True)[5]
index_frame['bref_id']=index_frame['bref_id'].str.split('.',expand=True)[0]

match_dict=dict(zip(master['bref_id'],master['nba_id']))

team_dict=dict(zip(master['team'],master['team_id']))

search_dict={
    "hollaro01": 1641842,
    "sarral01": 1642259,
    "dadiepa01": 1642359,
    "cuiyo01": 1642385,
    "dasiltr01": 1641783,

}
match_dict.update(search_dict)
index_frame['nba_id']=index_frame['bref_id'].map(match_dict)

current_season = "2024-25"  # Update this to the current season if needed

# Fetch all players for the current season
players_data = commonallplayers.CommonAllPlayers(is_only_current_season=1, season=current_season)
players_list = players_data.get_data_frames()[0]

# Display a list of player names
player_names = dict(zip(players_list['DISPLAY_FIRST_LAST'],players_list['PERSON_ID']))

notfound=index_frame[index_frame.year==2025].reset_index(drop=True)
notfound=index_frame[index_frame.nba_id.isna()].reset_index(drop=True)
notfound['nba_id']=notfound['player'].map(player_names)
notfound.dropna(inplace=True)
index_frame.dropna(inplace=True)



index_frame=pd.concat([index_frame,notfound])

index_frame['team_id']=index_frame['team'].map(team_dict)

index_frame.dropna(subset='bref_id',inplace=True)
index_frame.fillna(0,inplace=True)
print(index_frame)
index_frame.replace('',0,inplace=True)
index_frame['FTA']=index_frame['FTA'].astype(float)
index_frame['FGA']=index_frame['FGA'].astype(float)

index_frame['PTS']=index_frame['PTS'].astype(float)
year=2025
old_scoring=pd.read_csv('scoring.csv')
old_scoring=old_scoring[old_scoring.year<year]
old_scoring.columns

index_frame['TS%'] = (index_frame['PTS'] / (2 * (index_frame['FGA'] + 0.44 * index_frame['FTA']))) * 100

# Select and rename columns to match scoring.csv
new_df = index_frame[['player', 'TS%', 'PTS', 'MP', 'team', 'G', 'year', 'nba_id']].copy()
new_df = new_df.rename(columns={
    'player': 'Player',
    'team': 'Tm'
})

# Display the resulting DataFrame
new_scoring=pd.concat([old_scoring,new_df])
new_scoring.fillna(0,inplace=True)
new_scoring.loc[new_scoring['TS%'] > 150, 'TS%'] = 0

new_scoring.to_csv('scoring.csv',index=False)
gp=new_scoring[['nba_id','Player','year','G']].reset_index()
gp.to_csv('../player_sheets/lineups/games.csv',index=False)

ps_scoring=pd.read_csv('scoring_ps.csv')
ps_scoring.fillna(0,inplace=True)
ps_scoring.loc[ps_scoring['TS%'] > 150, 'TS%'] = 0


ps_gp=ps_scoring[['nba_id','Player','year','G']].reset_index()
ps_gp.to_csv('../player_sheets/lineups/ps_games.csv',index=False)
ps_gp.to_csv('../extra_data/wowy_leverage/ps_games.csv',index=False)

player                                        Mikal Bridges
url       https://www.basketball-reference.com/players/b...
team                                                    NYK
year                                                   2025
G                                                        54
MP                                                     2061
FGA                                                    19.1
FG                                                      9.4
3PA                                                     8.3
3P                                                      3.0
FTA                                                     2.9
FT                                                      1.1
PTS                                                    22.9
Name: 0, dtype: object
Year 2025 data added.
              player                                                url team  \
0      Mikal Bridges  https://www.basketball-reference.com/players/b...  NYK
1          Josh Hart  https://www.basketball-reference.com/players/h...  NYK
2    Anthony Edwards  https://www.basketball-reference.com/players/e...  MIN
3       Jayson Tatum  https://www.basketball-reference.com/players/t...  BOS
4      Jalen Brunson  https://www.basketball-reference.com/players/b...  NYK
..               ...                                                ...  ...
627      Zyon Pullin  https://www.basketball-reference.com/players/p...  MEM
628    Jahlil Okafor  https://www.basketball-reference.com/players/o...  IND
629      Chuma Okeke  https://www.basketball-reference.com/players/o...  PHI
630       Alex Reese  https://www.basketball-reference.com/players/r...  OKC
631  Bismack Biyombo  https://www.basketball-reference.com/players/b...  SAS

     year   G    MP   FGA    FG   3PA   3P   FTA    FT   PTS    bref_id  \
0    2025  54  2061  19.1   9.4   8.3  3.0   2.9   1.1  22.9  bridgmi01
1    2025  53  2003  13.3   7.4   4.3  1.5   9.7   2.9  19.2   hartjo01
2    2025  53  1947  28.0  12.4  13.6  5.7   6.7   1.1  37.0  edwaran01
3    2025  52  1892  27.3  12.4  13.8  4.9  11.0   0.8  36.8  tatumja01
4    2025  53  1865  25.7  12.7   8.1  3.2   3.4   0.6  36.6  brunsja01
..    ...  ..   ...   ...   ...   ...  ...   ...   ...   ...        ...
627  2025   3     3  15.4   0.0   0.0  0.0   0.0   0.0   0.0  pullizy01
628  2025   1     3   0.0   0.0   0.0  0.0  16.0   0.0   0.0  okafoja01
629  2025   1     2   0.0   0.0   0.0  0.0  24.8   0.0   0.0  okekech01
630  2025   1     2  24.1  24.1   0.0  0.0   0.0  24.1  48.2  reeseal01
631  2025   1     0                                           biyombi01

        nba_id     team_id
0    1628969.0  1610612752
1    1628404.0  1610612752
2    1630162.0  1610612750
3    1628369.0  1610612738
4    1628973.0  1610612752
..         ...         ...
627  1642389.0  1610612763
628  1626143.0  1610612754
629  1629643.0  1610612755
630  1642024.0  1610612760
631   202687.0  1610612759

[631 rows x 16 columns]

In [4]:
scoring=pd.read_csv('scoring.csv')
scoring[scoring.year==2024]

                 Player        TS%   PTS      MP   Tm   G  year     nba_id
25013  Precious Achiuwa  54.416205  17.3  1624.0  TOT  74  2024  1630173.0
25014  Precious Achiuwa  51.142912  21.3   437.0  TOR  25  2024  1630173.0
25015  Precious Achiuwa  56.348074  15.8  1187.0  NYK  49  2024  1630173.0
25016       Bam Adebayo  57.504078  28.2  2416.0  MIA  71  2024  1628389.0
25017      Ochai Agbaji  49.985079  13.4  1641.0  TOT  78  2024  1630534.0
...                 ...        ...   ...     ...  ...  ..   ...        ...
25743    Thaddeus Young  51.622419  12.6    89.0  PHO  10  2024   201152.0
25744        Trae Young  58.444656  34.3  1942.0  ATL  54  2024  1629027.0
25745    Omer Yurtseven  56.609195  19.7   545.0  UTA  48  2024  1630209.0
25746       Cody Zeller  48.124793  11.6   320.0  NOP  43  2024   203469.0
25747       Ivica Zubac  67.079147  21.9  1794.0  LAC  68  2024  1627826.0

[735 rows x 8 columns]