In [2]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException 

# Step 1: Create a session and load the page
'''
url1 = 'https://www.nba.com/stats/players/pullup?PerMode=Totals'
url2 = 'https://www.nba.com/stats/players/catch-shoot?PerMode=Totals'
url3 = 'https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals'
url4 = 'https://www.nba.com/stats/teams/isolation?PerMode=Totals'
url5 = 'https://www.nba.com/stats/players/transition?PerMode=Totals&dir=D&sort=POSS'
'''
cs ='https://www.nba.com/stats/players/catch-shoot?PerMode=Totals'
pullup ='https://www.nba.com/stats/players/pullup?PerMode=Totals'

touches = 'https://www.nba.com/stats/players/touches?PerMode=Totals'
drives = 'https://www.nba.com/stats/players/drives?PerMode=Totals'

wide_open = 'https://www.nba.com/stats/players/shots-closest-defender?CloseDefDistRange=6%2B+Feet+-+Wide+Open&PerMode=Totals'
close = 'https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals&dir=D&sort=PLUSMINUS'

In [3]:
#url_list = [cs,pullup]
from selenium.webdriver.support.select import Select

def check_exists_by_xpath(driver, xpath):
    try:
        driver.find_element(By.XPATH, xpath)
    except NoSuchElementException:
        return False
    return True


def get_ptables(url_list,path_list):
    data = []
    for i in range(len(url_list)):
        url = url_list[i]
        xpath = path_list[i]
        print(url)
        driver = webdriver.Chrome()
        driver.get(url)

        # Wait for the page to fully load
        driver.implicitly_wait(8)
        '''if check_exists_by_xpath(driver, "//a[contains(text(),'>')]/preceding-sibling::a[1]"):
            number_of_pages = int(driver.find_element(By.XPATH, "//a[contains(text(),'>')]/preceding-sibling::a[1]").text)
            print(number_of_pages)'''
        
        dropdown1 = Select(driver.find_element(By.XPATH, xpath))
        dropdown1.select_by_index(0)

        # Step 2: Parse HTML code and grab tables with Beautiful Soup
        
        soup = BeautifulSoup(driver.page_source, 'lxml')

        tables = soup.find_all('table')
        

        # Step 3: Read tables with Pandas read_html()
        dfs = pd.read_html(str(tables))
        #print(dfs)

        #print(f'Total tables: {len(dfs)}')
        #print(dfs[2].head())
    
        driver.close()
        #return dfs
        df= dfs[-1]
        #drop = ['Unnamed: 16_level_1', 'Unnamed: 17_level_1', 'Unnamed: 18_level_1']
        #df.columns = df.columns.droplevel()
        #df = df.drop(columns = drop)
       
        data.append(df)
    return data

In [4]:


url_list = [drives,wide_open,close,touches,cs,pullup]
name_list = ['drives','wide_open','close_6','touches','cs','pullup']
xpath = '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select'
#xpath2 = '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select'
path_list = [xpath for i in range(len(url_list))]

In [6]:
tables= get_ptables(url_list,path_list)
tables

https://www.nba.com/stats/players/drives?PerMode=Totals
https://www.nba.com/stats/players/shots-closest-defender?CloseDefDistRange=6%2B+Feet+-+Wide+Open&PerMode=Totals
https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals&dir=D&sort=PLUSMINUS
https://www.nba.com/stats/players/touches?PerMode=Totals
https://www.nba.com/stats/players/catch-shoot?PerMode=Totals
https://www.nba.com/stats/players/pullup?PerMode=Totals

[              PLAYER TEAM  GP   W   L  MIN  DRIVES  FGM  FGA   FG%  ...  PTS  \
 0        A.J. Lawson  MIN   1   1   0    2       0    0    0   0.0  ...    0
 1           AJ Green  MIL   7   7   0   37       1    0    0   0.0  ...    0
 2         AJ Griffin  ATL  19   9  10  356      45   15   27  55.6  ...   35
 3       Aaron Gordon  DEN  19  13   6  547      50   12   20  60.0  ...   36
 4      Aaron Holiday  ATL  21  13   8  359      71   12   34  35.3  ...   29
 ..               ...  ...  ..  ..  ..  ...     ...  ...  ...   ...  ...  ...
 474    Yuta Watanabe  BKN  14   5   9  255      22    4    6  66.7  ...    8
 475     Zach Collins  SAS  13   5   8  248       8    4    6  66.7  ...    9
 476      Zach LaVine  CHI  18   8  10  616     165   35   85  41.2  ...  114
 477       Zeke Nnaji  DEN  15  10   5  164       3    0    1   0.0  ...    0
 478  Zion Williamson  NOP  17  11   6  541     211   49   95  51.6  ...  146

       PTS%  PASS  PASS%  AST  AST%  TO  TOV%  PF   PF%
 0      0.0     0    0.0    0   0.0   0   0.0   0   0.0
 1      0.0     1  100.0    0   0.0   0   0.0   0   0.0
 2     77.8    11   24.4    2   4.4   4   8.9   2   4.4
 3     72.0    13   26.0    7  14.0   6  12.0   9  18.0
 4     40.8    27   38.0    4   5.6   5   7.0   3   4.2
 ..     ...   ...    ...  ...   ...  ..   ...  ..   ...
 474   36.4    14   63.6    3  13.6   1   4.5   0   0.0
 475  112.5     0    0.0    0   0.0   1  12.5   1  12.5
 476   69.1    46   27.9    9   5.5   9   5.5  24  14.5
 477    0.0     2   66.7    0   0.0   0   0.0   0   0.0
 478   69.2    59   28.0   12   5.7  18   8.5  28  13.3

 [479 rows x 23 columns],
     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 PLAYER               TEAM                AGE
 0        Royce O'Neale                BKN                 29
 1           Trae Young                ATL                 24
 2    Tyrese Haliburton                IND                 22
 3        Stephen Curry                GSW                 34
 4       Nikola Vucevic                CHI                 32
 ..                 ...                ...                ...
 439      Nathan Knight                MIN                 25
 440         Jack White                DEN                 25
 441           Alex Len                SAC                 29
 442  Mfiondu Kabengele                BOS                 25
 443   Ryan Arcidiacono                NYK                 28

     Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                     GP                  G              FREQ%
 0                   24                 24               57.0
 1                   21                 21               24.7
 2                   22                 22               30.7
 3                   22                 21               22.7
 4                   22                 22               35.7
 ..                 ...                ...                ...
 439                  9                  1               33.3
 440                  7                  1               20.0
 441                  7                  1               12.5
 442                  1                  1               50.0
 443                  6                  1               33.3

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                    FGM                FGA                FG%
 0                   55                118               46.6
 1                   51                113               45.1
 2                   42                103               40.8
 3                   48                102               47.1
 4                   40                101               39.6
 ..                 ...                ...                ...
 439                  0                  1                0.0
 440                  0                  1                0.0
 441                  0                  1                0.0
 442                  0                  1                0.0
 443                  0                  1                0.0

     Unnamed: 9_level_0  ... Field Goals           2 Point Field Goals       \
                   EFG%  ...        2FG% 3FG FREQ%                 3PM  3PA
 0                 68.2  ...        66.7      54.1                  51  112
 1                 59.3  ...        65.5      18.4                  32   84
 2                 59.2  ...        66.7      28.9                  38   97
 3                 67.2  ...        58.3      20.0                  41   90
 4                 53.5  ...        75.0      30.0                  28   85
 ..                 ...  ...         ...       ...                 ...  ...
 439                0.0  ...           -      33.3                   0    1
 440                0.0  ...           -      20.0                   0    1
 441                0.0  ...         0.0       0.0                   0    0
 442                0.0  ...           -      50.0                   0    1
 443                0.0  ...           -      33.3                   0    1

                               3 Point Field Goals                      \
       3P% Unnamed: 18_level_1 Unnamed: 19_level_1 Unnamed: 20_level_1
 0    45.5                 NaN                 NaN                 NaN
 1    38.1                 NaN                 NaN                 NaN
 2    39.2                 NaN                 NaN                 NaN
 3    45.6                 NaN                 NaN                 NaN
 4    32.9                 NaN                 NaN                 NaN
 ..    ...                 ...                 ...                 ...
 439   0.0                 NaN                 NaN                 NaN
 440   0.0                 NaN                 NaN                 NaN
 441     -                 NaN                 NaN                 NaN
 442   0.0                 NaN                 NaN                 NaN
 443   0.0                 NaN                 NaN                 NaN


     Unnamed: 21_level_1 Unnamed: 22_level_1
 0                   NaN                 NaN
 1                   NaN                 NaN
 2                   NaN                 NaN
 3                   NaN                 NaN
 4                   NaN                 NaN
 ..                  ...                 ...
 439                 NaN                 NaN
 440                 NaN                 NaN
 441                 NaN                 NaN
 442                 NaN                 NaN
 443                 NaN                 NaN

 [444 rows x 23 columns],
                      PLAYER TEAM  AGE POSITION  GP  G  FREQ%  DFGM  DFGA  \
 0           Khris Middleton  MIL   31        F   1  1   45.5   5.0   5.0
 1              Tyler Dorsey  DAL   26        G   1  1  100.0   2.0   2.0
 2        Kenneth Lofton Jr.  MEM   20        F   3  1   25.0   2.0   2.0
 3               Jordan Hall  SAS   20        G   8  6   30.0   9.0   9.0
 4         Julian Champagnie  PHI   21        F   2  1   66.7   2.0   2.0
 ..                      ...  ...  ...      ...  .. ..    ...   ...   ...
 450      Vince Williams Jr.  MEM   22        G   4  2   57.1   0.0   4.0
 451  Thanasis Antetokounmpo  MIL   30        F   7  5   47.1   0.0   8.0
 452           Mark Williams  CHA   20        C   2  1   10.0   0.0   1.0
 453             Jaden Hardy  DAL   20        G   2  1   16.7   0.0   1.0
 454          Svi Mykhailiuk  NYK   25      G-F   3  2   50.0   0.0   2.0

       DFG%   FG%  Diff%
 0    100.0  53.2   46.8
 1    100.0  54.2   45.8
 2    100.0  56.4   43.6
 3    100.0  59.2   40.8
 4    100.0  59.2   40.8
 ..     ...   ...    ...
 450    0.0  59.9  -59.9
 451    0.0  60.2  -60.2
 452    0.0  60.9  -60.9
 453    0.0  61.1  -61.1
 454    0.0  61.7  -61.7

 [455 rows x 12 columns],
               Player Team  GP   W   L  MIN  PTS  TOUCHES  Front CTTouches  \
 0        A.J. Lawson  MIN   1   1   0    2    2        2                1
 1           AJ Green  MIL   7   7   0   37   11       41               22
 2         AJ Griffin  ATL  19   9  10  356  182      397              276
 3       Aaron Gordon  DEN  19  13   6  547  303      739              420
 4      Aaron Holiday  ATL  21  13   8  359   96      469              188
 ..               ...  ...  ..  ..  ..  ...  ...      ...              ...
 474    Yuta Watanabe  BKN  14   5   9  255  114      282              180
 475     Zach Collins  SAS  13   5   8  248  107      444              298
 476      Zach LaVine  CHI  18   8  10  616  377     1098              638
 477       Zeke Nnaji  DEN  15  10   5  164   75      156              126
 478  Zion Williamson  NOP  17  11   6  540  400      982              573

      Time OfPoss  Avg Sec PerTouch  Avg Drib PerTouch  PTS PerTouch  \
 0              0              1.18               0.00         1.000
 1              3              3.66               2.68         0.268
 2             13              1.96               1.43         0.458
 3             35              2.80               1.96         0.410
 4             32              4.05               3.63         0.205
 ..           ...               ...                ...           ...
 474            8              1.68               0.84         0.404
 475           13              1.70               0.54         0.241
 476           67              3.67               2.81         0.343
 477            4              1.64               0.47         0.481
 478           48              2.93               2.25         0.407

      ElbowTouches  PostUps  PaintTouches  PTS PerElbow Touch  \
 0               0        0             0               0.000
 1               0        0             2               0.000
 2               9        1            14               0.778
 3              36       33           114               0.472
 4               3        0             9               0.000
 ..            ...      ...           ...                 ...
 474             7        0            16               0.286
 475            43       12            43               0.651
 476            11        2            24               0.545
 477            16       12            42               0.500
 478            30       78            85               0.933

      PTS PerPost Touch  PTS PerPaint Touch
 0                0.000               0.000
 1                0.000               1.000
 2                2.000               0.571
 3                0.576               1.333
 4                0.000               0.667
 ..                 ...                 ...
 474              0.000               0.813
 475              0.917               0.744
 476              0.000               1.000
 477              0.750               1.119
 478              0.692               1.188

 [479 rows x 19 columns],
               PLAYER TEAM  GP  MIN  PTS  FGM  FGA   FG% 3PM 3PA   3P%  eFG%
 0        A.J. Lawson  MIN   1    2    0    0    0     -   -   -     -     -
 1           AJ Green  MIL   7   37    9    3    6  50.0   3   6  50.0  75.0
 2         AJ Griffin  ATL  19  356   71   25   61  41.0  21  55  38.2  58.2
 3       Aaron Gordon  DEN  19  547   44   15   40  37.5  14  36  38.9  55.0
 4      Aaron Holiday  ATL  21  359   33   11   25  44.0  11  25  44.0  66.0
 ..               ...  ...  ..  ...  ...  ...  ...   ...  ..  ..   ...   ...
 474    Yuta Watanabe  BKN  14  255   69   23   40  57.5  23  40  57.5  86.3
 475     Zach Collins  SAS  13  248   38   14   38  36.8  10  29  34.5  50.0
 476      Zach LaVine  CHI  18  616   77   26   69  37.7  25  66  37.9  55.8
 477       Zeke Nnaji  DEN  16  165    9    3   13  23.1   3  13  23.1  34.6
 478  Zion Williamson  NOP  17  541    9    3    8  37.5   3   8  37.5  56.3

 [479 rows x 12 columns],
               PLAYER TEAM  GP   W   L  MIN  PTS  FGM  FGA   FG% 3PM 3PA   3P%  \
 0        A.J. Lawson  MIN   1   1   0    2    0    0    0     -   -   -     -
 1           AJ Green  MIL   7   7   0   37    0    0    2   0.0   0   1   0.0
 2         AJ Griffin  ATL  19   9  10  356   61   27   57  47.4   7  20  35.0
 3       Aaron Gordon  DEN  19  13   6  547   30   12   29  41.4   6  15  40.0
 4      Aaron Holiday  ATL  21  13   8  359   27   12   25  48.0   3   5  60.0
 ..               ...  ...  ..  ..  ..  ...  ...  ...  ...   ...  ..  ..   ...
 474    Yuta Watanabe  BKN  14   5   9  255    0    0    1   0.0   0   0     -
 475     Zach Collins  SAS  13   5   8  248    0    0    5   0.0   0   2   0.0
 476      Zach LaVine  CHI  18   8  10  616  114   44  129  34.1  26  75  34.7
 477       Zeke Nnaji  DEN  16  10   6  165    0    0    0     -   0   0     -
 478  Zion Williamson  NOP  17  11   6  541    6    3   12  25.0   0   2   0.0

      eFG%
 0       -
 1     0.0
 2    53.5
 3    51.7
 4    54.0
 ..    ...
 474   0.0
 475   0.0
 476  44.2
 477     -
 478  25.0

 [479 rows x 14 columns]]

In [16]:
tables[1]
temp = tables[1]
#temp.columns = temp.columns.droplevel() 
temp = temp.drop(columns = ['Unnamed: 18_level_1','Unnamed: 19_level_1','Unnamed: 20_level_1', 'Unnamed: 21_level_1','Unnamed: 22_level_1'])
temp
tables[1] = temp
tables[1]

,PLAYER,TEAM,AGE,GP,G,FREQ%,FGM,FGA,FG%,EFG%,2FG FREQ%,2FGM,2FGA,2FG%,3FG FREQ%,3PM,3PA,3P%
0,Royce O'Neale,BKN,29,24,24,57.0,55,118,46.6,68.2,2.9,4,6,66.7,54.1,51,112,45.5
1,Trae Young,ATL,24,21,21,24.7,51,113,45.1,59.3,6.3,19,29,65.5,18.4,32,84,38.1
2,Tyrese Haliburton,IND,22,22,22,30.7,42,103,40.8,59.2,1.8,4,6,66.7,28.9,38,97,39.2
3,Stephen Curry,GSW,34,22,21,22.7,48,102,47.1,67.2,2.7,7,12,58.3,20.0,41,90,45.6
4,Nikola Vucevic,CHI,32,22,22,35.7,40,101,39.6,53.5,5.7,12,16,75.0,30.0,28,85,32.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,Nathan Knight,MIN,25,9,1,33.3,0,1,0.0,0.0,0.0,0,0,-,33.3,0,1,0.0
440,Jack White,DEN,25,7,1,20.0,0,1,0.0,0.0,0.0,0,0,-,20.0,0,1,0.0
441,Alex Len,SAC,29,7,1,12.5,0,1,0.0,0.0,12.5,0,1,0.0,0.0,0,0,-
442,Mfiondu Kabengele,BOS,25,1,1,50.0,0,1,0.0,0.0,0.0,0,0,-,50.0,0,1,0.0
443,Ryan Arcidiacono,NYK,28,6,1,33.3,0,1,0.0,0.0,0.0,0,0,-,33.3,0,1,0.0

,PLAYER,TEAM,AGE,GP,G,FREQ%,FGM,FGA,FG%,EFG%,2FG FREQ%,2FGM,2FGA,2FG%,3FG FREQ%,3PM,3PA,3P%
0,Royce O'Neale,BKN,29,24,24,57.0,55,118,46.6,68.2,2.9,4,6,66.7,54.1,51,112,45.5
1,Trae Young,ATL,24,21,21,24.7,51,113,45.1,59.3,6.3,19,29,65.5,18.4,32,84,38.1
2,Tyrese Haliburton,IND,22,22,22,30.7,42,103,40.8,59.2,1.8,4,6,66.7,28.9,38,97,39.2
3,Stephen Curry,GSW,34,22,21,22.7,48,102,47.1,67.2,2.7,7,12,58.3,20.0,41,90,45.6
4,Nikola Vucevic,CHI,32,22,22,35.7,40,101,39.6,53.5,5.7,12,16,75.0,30.0,28,85,32.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,Nathan Knight,MIN,25,9,1,33.3,0,1,0.0,0.0,0.0,0,0,-,33.3,0,1,0.0
440,Jack White,DEN,25,7,1,20.0,0,1,0.0,0.0,0.0,0,0,-,20.0,0,1,0.0
441,Alex Len,SAC,29,7,1,12.5,0,1,0.0,0.0,12.5,0,1,0.0,0.0,0,0,-
442,Mfiondu Kabengele,BOS,25,1,1,50.0,0,1,0.0,0.0,0.0,0,0,-,50.0,0,1,0.0
443,Ryan Arcidiacono,NYK,28,6,1,33.3,0,1,0.0,0.0,0.0,0,0,-,33.3,0,1,0.0

In [19]:
for i in range(len(name_list)):
    tables[i].to_csv('player_tracking/'+name_list[i]+'.csv',index = False)

In [66]:
tables[0].to_csv('player_tracking/pullup.csv',index = False)
tables[1].to_csv('player_tracking/cs.csv',index = False)