In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException 

# Step 1: Create a session and load the page
'''
url1 = 'https://www.nba.com/stats/players/pullup?PerMode=Totals'
url2 = 'https://www.nba.com/stats/players/catch-shoot?PerMode=Totals'
url3 = 'https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals'
url4 = 'https://www.nba.com/stats/teams/isolation?PerMode=Totals'
url5 = 'https://www.nba.com/stats/players/transition?PerMode=Totals&dir=D&sort=POSS'
'''
cs ='https://www.nba.com/stats/players/catch-shoot?PerMode=Totals'
pullup ='https://www.nba.com/stats/players/pullup?PerMode=Totals'

touches = 'https://www.nba.com/stats/players/touches?PerMode=Totals'
drives = 'https://www.nba.com/stats/players/drives?PerMode=Totals'

wide_open = 'https://www.nba.com/stats/players/shots-closest-defender?CloseDefDistRange=6%2B+Feet+-+Wide+Open&PerMode=Totals'
close = 'https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals&dir=D&sort=PLUSMINUS'

In [2]:
#url_list = [cs,pullup]
from selenium.webdriver.support.select import Select

def check_exists_by_xpath(driver, xpath):
    try:
        driver.find_element(By.XPATH, xpath)
    except NoSuchElementException:
        return False
    return True


def get_ptables(url_list,path_list):
    data = []
    for i in range(len(url_list)):
        url = url_list[i]
        xpath = path_list[i]
        print(url)
        driver = webdriver.Chrome()
        driver.get(url)

        # Wait for the page to fully load
        driver.implicitly_wait(8)
        '''if check_exists_by_xpath(driver, "//a[contains(text(),'>')]/preceding-sibling::a[1]"):
            number_of_pages = int(driver.find_element(By.XPATH, "//a[contains(text(),'>')]/preceding-sibling::a[1]").text)
            print(number_of_pages)'''
        
        dropdown1 = Select(driver.find_element(By.XPATH, xpath))
        dropdown1.select_by_index(0)

        # Step 2: Parse HTML code and grab tables with Beautiful Soup
        
        soup = BeautifulSoup(driver.page_source, 'lxml')

        tables = soup.find_all('table')
        

        # Step 3: Read tables with Pandas read_html()
        dfs = pd.read_html(str(tables))
        #print(dfs)

        #print(f'Total tables: {len(dfs)}')
        #print(dfs[2].head())
    
        driver.close()
        #return dfs
        df= dfs[-1]
        #drop = ['Unnamed: 16_level_1', 'Unnamed: 17_level_1', 'Unnamed: 18_level_1']
        #df.columns = df.columns.droplevel()
        #df = df.drop(columns = drop)
       
        data.append(df)
    return data

In [3]:


url_list = [drives,wide_open,close,touches,cs,pullup]
name_list = ['drives','wide_open','close_6','touches','cs','pullup']
xpath = '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select'
#xpath2 = '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select'
path_list = [xpath for i in range(len(url_list))]

In [4]:
tables= get_ptables(url_list,path_list)
tables

https://www.nba.com/stats/players/drives?PerMode=Totals
https://www.nba.com/stats/players/shots-closest-defender?CloseDefDistRange=6%2B+Feet+-+Wide+Open&PerMode=Totals
https://www.nba.com/stats/players/defense-dash-lt6?PerMode=Totals&dir=D&sort=PLUSMINUS
https://www.nba.com/stats/players/touches?PerMode=Totals
https://www.nba.com/stats/players/catch-shoot?PerMode=Totals
https://www.nba.com/stats/players/pullup?PerMode=Totals

[              PLAYER TEAM  GP   W   L  MIN  DRIVES  FGM  FGA   FG%  ...  PTS  \
 0        A.J. Lawson  MIN   1   1   0    2       0    0    0   0.0  ...    0
 1           AJ Green  MIL   7   7   0   37       1    0    0   0.0  ...    0
 2         AJ Griffin  ATL  19   9  10  356      45   15   27  55.6  ...   35
 3       Aaron Gordon  DEN  20  13   7  584      55   14   23  60.9  ...   42
 4      Aaron Holiday  ATL  21  13   8  359      71   12   34  35.3  ...   29
 ..               ...  ...  ..  ..  ..  ...     ...  ...  ...   ...  ...  ...
 475    Yuta Watanabe  BKN  14   5   9  255      22    4    6  66.7  ...    8
 476     Zach Collins  SAS  14   5   9  265       9    4    6  66.7  ...    9
 477      Zach LaVine  CHI  19   8  11  652     178   40   94  42.6  ...  128
 478       Zeke Nnaji  DEN  16  10   6  166       3    0    1   0.0  ...    0
 479  Zion Williamson  NOP  18  12   6  576     236   55  105  52.4  ...  161

       PTS%  PASS  PASS%  AST  AST%  TO  TOV%  PF   PF%
 0      0.0     0    0.0    0   0.0   0   0.0   0   0.0
 1      0.0     1  100.0    0   0.0   0   0.0   0   0.0
 2     77.8    11   24.4    2   4.4   4   8.9   2   4.4
 3     76.4    14   25.5    7  12.7   6  10.9  10  18.2
 4     40.8    27   38.0    4   5.6   5   7.0   3   4.2
 ..     ...   ...    ...  ...   ...  ..   ...  ..   ...
 475   36.4    14   63.6    3  13.6   1   4.5   0   0.0
 476  100.0     0    0.0    0   0.0   1  11.1   1  11.1
 477   71.9    46   25.8    9   5.1  10   5.6  26  14.6
 478    0.0     2   66.7    0   0.0   0   0.0   0   0.0
 479   68.2    68   28.8   13   5.5  20   8.5  30  12.7

 [480 rows x 23 columns],
     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 PLAYER               TEAM                AGE
 0        Royce O'Neale                BKN                 29
 1           Trae Young                ATL                 24
 2          Buddy Hield                IND                 29
 3       Nikola Vucevic                CHI                 32
 4    Tyrese Haliburton                IND                 22
 ..                 ...                ...                ...
 440       Devon Dotson                WAS                 23
 441    Marko Simonovic                CHI                 23
 442   Ryan Arcidiacono                NYK                 28
 443  Bogdan Bogdanovic                ATL                 30
 444  Mfiondu Kabengele                BOS                 25

     Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                     GP                  G              FREQ%
 0                   25                 25               57.1
 1                   21                 21               24.7
 2                   23                 23               32.4
 3                   23                 23               35.8
 4                   22                 22               30.7
 ..                 ...                ...                ...
 440                  2                  1               33.3
 441                  1                  1              100.0
 442                  6                  1               33.3
 443                  1                  1               11.1
 444                  1                  1               50.0

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                    FGM                FGA                FG%
 0                   57                125               45.6
 1                   51                113               45.1
 2                   47                105               44.8
 3                   42                105               40.0
 4                   42                103               40.8
 ..                 ...                ...                ...
 440                  0                  1                0.0
 441                  0                  1                0.0
 442                  0                  1                0.0
 443                  0                  1                0.0
 444                  0                  1                0.0

     Unnamed: 9_level_0  ... Field Goals           2 Point Field Goals       \
                   EFG%  ...        2FG% 3FG FREQ%                 3PM  3PA
 0                 66.8  ...        57.1      53.9                  53  118
 1                 59.3  ...        65.5      18.4                  32   84
 2                 64.3  ...        85.7      30.2                  41   98
 3                 54.3  ...        70.6      30.0                  30   88
 4                 59.2  ...        66.7      28.9                  38   97
 ..                 ...  ...         ...       ...                 ...  ...
 440                0.0  ...         0.0       0.0                   0    0
 441                0.0  ...           -     100.0                   0    1
 442                0.0  ...           -      33.3                   0    1
 443                0.0  ...           -      11.1                   0    1
 444                0.0  ...           -      50.0                   0    1

                               3 Point Field Goals                      \
       3P% Unnamed: 18_level_1 Unnamed: 19_level_1 Unnamed: 20_level_1
 0    44.9                 NaN                 NaN                 NaN
 1    38.1                 NaN                 NaN                 NaN
 2    41.8                 NaN                 NaN                 NaN
 3    34.1                 NaN                 NaN                 NaN
 4    39.2                 NaN                 NaN                 NaN
 ..    ...                 ...                 ...                 ...
 440     -                 NaN                 NaN                 NaN
 441   0.0                 NaN                 NaN                 NaN
 442   0.0                 NaN                 NaN                 NaN
 443   0.0                 NaN                 NaN                 NaN
 444   0.0                 NaN                 NaN                 NaN


     Unnamed: 21_level_1 Unnamed: 22_level_1
 0                   NaN                 NaN
 1                   NaN                 NaN
 2                   NaN                 NaN
 3                   NaN                 NaN
 4                   NaN                 NaN
 ..                  ...                 ...
 440                 NaN                 NaN
 441                 NaN                 NaN
 442                 NaN                 NaN
 443                 NaN                 NaN
 444                 NaN                 NaN

 [445 rows x 23 columns],
                      PLAYER TEAM  AGE POSITION  GP  G  FREQ%  DFGM  DFGA  \
 0              Tyler Dorsey  DAL   26        G   1  1  100.0   2.0   2.0
 1           Khris Middleton  MIL   31        F   1  1   45.5   5.0   5.0
 2        Kenneth Lofton Jr.  MEM   20        F   3  1   25.0   2.0   2.0
 3               Jordan Hall  SAS   20        G   8  6   30.0   9.0   9.0
 4         Julian Champagnie  PHI   21        F   2  1   66.7   2.0   2.0
 ..                      ...  ...  ...      ...  .. ..    ...   ...   ...
 451      Vince Williams Jr.  MEM   22        G   4  2   57.1   0.0   4.0
 452          Svi Mykhailiuk  NYK   25      G-F   3  2   50.0   0.0   2.0
 453  Thanasis Antetokounmpo  MIL   30        F   7  5   47.1   0.0   8.0
 454           Mark Williams  CHA   20        C   2  1   10.0   0.0   1.0
 455             Jaden Hardy  DAL   20        G   2  1   16.7   0.0   1.0

       DFG%   FG%  Diff%
 0    100.0  52.0   48.0
 1    100.0  52.6   47.4
 2    100.0  57.9   42.1
 3    100.0  59.0   41.0
 4    100.0  59.2   40.8
 ..     ...   ...    ...
 451    0.0  59.9  -59.9
 452    0.0  60.0  -60.0
 453    0.0  60.5  -60.5
 454    0.0  62.5  -62.5
 455    0.0  64.1  -64.1

 [456 rows x 12 columns],
               Player Team  GP   W   L  MIN  PTS  TOUCHES  Front CTTouches  \
 0        A.J. Lawson  MIN   1   1   0    2    2        2                1
 1           AJ Green  MIL   7   7   0   37   11       41               22
 2         AJ Griffin  ATL  19   9  10  356  182      397              276
 3       Aaron Gordon  DEN  20  13   7  584  322      780              436
 4      Aaron Holiday  ATL  21  13   8  359   96      469              188
 ..               ...  ...  ..  ..  ..  ...  ...      ...              ...
 475    Yuta Watanabe  BKN  14   5   9  255  114      282              180
 476     Zach Collins  SAS  14   5   9  265  111      476              324
 477      Zach LaVine  CHI  19   8  11  652  418     1169              676
 478       Zeke Nnaji  DEN  16  10   6  166   75      162              129
 479  Zion Williamson  NOP  18  12   6  576  425     1065              621

      Time OfPoss  Avg Sec PerTouch  Avg Drib PerTouch  PTS PerTouch  \
 0              0              1.18               0.00         1.000
 1              3              3.66               2.68         0.268
 2             13              1.96               1.43         0.458
 3             37              2.83               1.99         0.413
 4             32              4.05               3.63         0.205
 ..           ...               ...                ...           ...
 475            8              1.68               0.84         0.404
 476           14              1.70               0.54         0.233
 477           72              3.70               2.85         0.358
 478            4              1.64               0.48         0.463
 479           53              2.99               2.33         0.399

      ElbowTouches  PostUps  PaintTouches  PTS PerElbow Touch  \
 0               0        0             0               0.000
 1               0        0             2               0.000
 2               9        1            14               0.778
 3              36       34           120               0.472
 4               3        0             9               0.000
 ..            ...      ...           ...                 ...
 475             7        0            16               0.286
 476            45       12            46               0.622
 477            11        2            26               0.545
 478            16       12            42               0.500
 479            33       81            90               0.909

      PTS PerPost Touch  PTS PerPaint Touch
 0                0.000               0.000
 1                0.000               1.000
 2                2.000               0.571
 3                0.618               1.333
 4                0.000               0.667
 ..                 ...                 ...
 475              0.000               0.813
 476              0.917               0.783
 477              0.000               1.077
 478              0.750               1.119
 479              0.679               1.189

 [480 rows x 19 columns],
               PLAYER TEAM  GP  MIN  PTS  FGM  FGA   FG% 3PM 3PA   3P%  eFG%
 0        A.J. Lawson  MIN   1    2    0    0    0     -   -   -     -     -
 1           AJ Green  MIL   7   37    9    3    6  50.0   3   6  50.0  75.0
 2         AJ Griffin  ATL  19  356   71   25   61  41.0  21  55  38.2  58.2
 3       Aaron Gordon  DEN  20  584   46   16   42  38.1  14  37  37.8  54.8
 4      Aaron Holiday  ATL  21  359   33   11   25  44.0  11  25  44.0  66.0
 ..               ...  ...  ..  ...  ...  ...  ...   ...  ..  ..   ...   ...
 475    Yuta Watanabe  BKN  14  255   69   23   40  57.5  23  40  57.5  86.3
 476     Zach Collins  SAS  14  265   38   14   42  33.3  10  32  31.3  45.2
 477      Zach LaVine  CHI  19  652   83   28   73  38.4  27  70  38.6  56.8
 478       Zeke Nnaji  DEN  17  167    9    3   14  21.4   3  14  21.4  32.1
 479  Zion Williamson  NOP  18  576    9    3    8  37.5   3   8  37.5  56.3

 [480 rows x 12 columns],
               PLAYER TEAM  GP   W   L  MIN  PTS  FGM  FGA   FG% 3PM 3PA   3P%  \
 0        A.J. Lawson  MIN   1   1   0    2    0    0    0     -   -   -     -
 1           AJ Green  MIL   7   7   0   37    0    0    2   0.0   0   1   0.0
 2         AJ Griffin  ATL  19   9  10  356   61   27   57  47.4   7  20  35.0
 3       Aaron Gordon  DEN  20  13   7  584   33   13   31  41.9   7  17  41.2
 4      Aaron Holiday  ATL  21  13   8  359   27   12   25  48.0   3   5  60.0
 ..               ...  ...  ..  ..  ..  ...  ...  ...  ...   ...  ..  ..   ...
 475    Yuta Watanabe  BKN  14   5   9  255    0    0    1   0.0   0   0     -
 476     Zach Collins  SAS  14   5   9  265    0    0    5   0.0   0   2   0.0
 477      Zach LaVine  CHI  19   8  11  652  123   48  140  34.3  27  80  33.8
 478       Zeke Nnaji  DEN  17  10   7  167    0    0    0     -   0   0     -
 479  Zion Williamson  NOP  18  12   6  576    6    3   12  25.0   0   2   0.0

      eFG%
 0       -
 1     0.0
 2    53.5
 3    53.2
 4    54.0
 ..    ...
 475   0.0
 476   0.0
 477  43.9
 478     -
 479  25.0

 [480 rows x 14 columns]]

In [8]:
tables[1]
temp = tables[1]
temp.columns = temp.columns.droplevel() 
#temp = temp.drop(columns = ['Unnamed: 18_level_1','Unnamed: 19_level_1','Unnamed: 20_level_1', 'Unnamed: 21_level_1','Unnamed: 22_level_1'])
#temp
tables[1] = temp
tables[1]

,PLAYER,TEAM,AGE,GP,G,FREQ%,FGM,FGA,FG%,EFG%,...,2FG%,3FG FREQ%,3PM,3PA,3P%,Unnamed: 18_level_1,Unnamed: 19_level_1,Unnamed: 20_level_1,Unnamed: 21_level_1,Unnamed: 22_level_1
0,Royce O'Neale,BKN,29,25,25,57.1,57,125,45.6,66.8,...,57.1,53.9,53,118,44.9,NaN,NaN,NaN,NaN,NaN
1,Trae Young,ATL,24,21,21,24.7,51,113,45.1,59.3,...,65.5,18.4,32,84,38.1,NaN,NaN,NaN,NaN,NaN
2,Buddy Hield,IND,29,23,23,32.4,47,105,44.8,64.3,...,85.7,30.2,41,98,41.8,NaN,NaN,NaN,NaN,NaN
3,Nikola Vucevic,CHI,32,23,23,35.8,42,105,40.0,54.3,...,70.6,30.0,30,88,34.1,NaN,NaN,NaN,NaN,NaN
4,Tyrese Haliburton,IND,22,22,22,30.7,42,103,40.8,59.2,...,66.7,28.9,38,97,39.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,Devon Dotson,WAS,23,2,1,33.3,0,1,0.0,0.0,...,0.0,0.0,0,0,-,NaN,NaN,NaN,NaN,NaN
441,Marko Simonovic,CHI,23,1,1,100.0,0,1,0.0,0.0,...,-,100.0,0,1,0.0,NaN,NaN,NaN,NaN,NaN
442,Ryan Arcidiacono,NYK,28,6,1,33.3,0,1,0.0,0.0,...,-,33.3,0,1,0.0,NaN,NaN,NaN,NaN,NaN
443,Bogdan Bogdanovic,ATL,30,1,1,11.1,0,1,0.0,0.0,...,-,11.1,0,1,0.0,NaN,NaN,NaN,NaN,NaN
444,Mfiondu Kabengele,BOS,25,1,1,50.0,0,1,0.0,0.0,...,-,50.0,0,1,0.0,NaN,NaN,NaN,NaN,NaN

In [9]:
temp = temp.drop(columns = ['Unnamed: 18_level_1','Unnamed: 19_level_1','Unnamed: 20_level_1', 'Unnamed: 21_level_1','Unnamed: 22_level_1'])

In [10]:
tables[1] = temp
tables[1]

,PLAYER,TEAM,AGE,GP,G,FREQ%,FGM,FGA,FG%,EFG%,2FG FREQ%,2FGM,2FGA,2FG%,3FG FREQ%,3PM,3PA,3P%
0,Royce O'Neale,BKN,29,25,25,57.1,57,125,45.6,66.8,3.2,4,7,57.1,53.9,53,118,44.9
1,Trae Young,ATL,24,21,21,24.7,51,113,45.1,59.3,6.3,19,29,65.5,18.4,32,84,38.1
2,Buddy Hield,IND,29,23,23,32.4,47,105,44.8,64.3,2.2,6,7,85.7,30.2,41,98,41.8
3,Nikola Vucevic,CHI,32,23,23,35.8,42,105,40.0,54.3,5.8,12,17,70.6,30.0,30,88,34.1
4,Tyrese Haliburton,IND,22,22,22,30.7,42,103,40.8,59.2,1.8,4,6,66.7,28.9,38,97,39.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,Devon Dotson,WAS,23,2,1,33.3,0,1,0.0,0.0,33.3,0,1,0.0,0.0,0,0,-
441,Marko Simonovic,CHI,23,1,1,100.0,0,1,0.0,0.0,0.0,0,0,-,100.0,0,1,0.0
442,Ryan Arcidiacono,NYK,28,6,1,33.3,0,1,0.0,0.0,0.0,0,0,-,33.3,0,1,0.0
443,Bogdan Bogdanovic,ATL,30,1,1,11.1,0,1,0.0,0.0,0.0,0,0,-,11.1,0,1,0.0
444,Mfiondu Kabengele,BOS,25,1,1,50.0,0,1,0.0,0.0,0.0,0,0,-,50.0,0,1,0.0

In [11]:
for i in range(len(name_list)):
    tables[i].to_csv('player_tracking/'+name_list[i]+'.csv',index = False)

In [12]:
tables[0].to_csv('player_tracking/pullup.csv',index = False)
tables[1].to_csv('player_tracking/cs.csv',index = False)