In [84]:
import pandas as pd
import requests
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np
from bs4 import BeautifulSoup


def get_salaries(team = False):
    if team == False:
        base = 'https://hoopshype.com/salaries/players/'
    else:
        base = 'https://hoopshype.com/salaries/'
        
    salaries = []
    for i in range(2023,2025):
        if i !=2007:
            url = base+str(i) +'-'+str(i+1)
            if i == 2024:
                url=base
            print(url)

            df = pd.read_html(url)[0]
            #print(df)
            df.drop(columns=['Unnamed: 0'],inplace = True)
            #print(df.columns)
            if i<2022:
                df.columns = ['Player','Salary','Inflation_Salary']
                df['Salary'] = df['Salary'].str.replace('\W', '', regex=True)
                df['Inflation_Salary'] = df['Inflation_Salary'].str.replace('\W', '', regex=True)
            else:
                df = df[df.columns[0:2]]
                df.columns = ['Player','Salary']
                df['Salary'] = df['Salary'].str.replace('\W', '', regex=True)
                df['Inflation_Salary'] = df['Salary']
            df['year'] = i+1
            salaries.append(df)
    final = pd.concat(salaries)
    if team == True:
        final.rename(columns={'Player':'Team'},inplace = True)
    return final
        
def games_per_year():
    url = 'https://www.basketball-reference.com/leagues/NBA_stats_per_game.html'
    games = pd.read_html(url)[0]
    games.columns = games.columns.droplevel()
    games = games.dropna(subset='Season')
    games = games[games['Season']!='Season']
    games['Year'] = games['Season'].str[0:4].astype(int)+1
    games['G'] = games['G'].astype(int)
    games = games[['Year','G']]
    return games
name_map = {'LALakers':'LAL', 'Dallas':'DAL', 'NewYork':'NYK', 'Boston':'BOS', 'Cleveland':'CLE',
         'Orlando':'ORL','SanAntonio':'SAS', 'Denver':'DEN', 'Miami':'MIA', 'Washington':'WAS', 
            'Utah':'UTA',
       'NewOrleans':'NOP', 'Chicago':'CHI', 'Houston':'HOU', 'Charlotte':'CHA', 'Toronto':'TOR',
       'Sacramento': 'SAC', 'Milwaukee':'MIL', 'Indiana':'IND', 'Atlanta':'ATL', 'GoldenState':'GSW',
       'Phoenix':'PHX', 'Philadelphia':'PHI', 'Minnesota':'MIN', 'LAClippers':'LAC', 'Detroit':'DET',
       'Brooklyn':'BKN', 'OklahomaCity':'OKC', 'Memphis':'MEM', 'Portland':'POR'}


#lebron = lebron_master()
salaries = get_salaries(team=False)

#print(salaries)
#payroll = get_salaries(team=True)
lebron = pd.read_csv('lebron.csv')
#lebron['Player'] = lebron['Player'].str.split(' ').str[:-1].str.join(' ')
lebron["Player"]= lebron["Player"].str.lower().str.replace("'", "", regex=True)

lebron['Player'] = lebron['Player'].str.split(' ').str[0].str[0:3] +lebron['Player'].str.split(' ').str[1]

#lebron['Player'] = lebron['Player'].str.split(' ').str[0].str[0]+ lebron['Player'].str.split(' ').str[-1]

#lebron['Player']= lebron['Player'].str.split(' ').str[0].str[0]+ lebron['Player'].str.lower().str.replace('\W', '', regex=True)
lebron['Player']= lebron['Player'].str.lower().str.replace('\W', '', regex=True)

salary = get_salaries(team=False)
print(salary.columns)
extra = pd.DataFrame([['Nick Richards',5000000,5000000,2025]], columns=salary.columns)


salary = pd.concat([salary,extra])

#print(salary)
wrong_names = {'Jose Juan Barea':'J.J. Barea','Timothe Luwawu':'Timothe Luwawu-Cabarrot','Dennis Schroeder':'Dennis Schroder','Didier Ilunga-Mbenga':'DJ Mbenga'
              ,'BJ Boston':'Brandon Boston Jr.'}
salary= salary.replace({'Player':wrong_names})

salary['Name'] = salary['Player']
print(salary[salary.Name.str.contains('Nic')])
#salary['team'] = salary['team'].map(name_map)

#salary['Player'] = salary['Player'].str.split(' ').str[0].str[0]+ salary['Player'].str.split(' ').str[-1]
#salary['Player'] = salary['Player'].str.split(' ').str[0] +salary['Player'].str.split(' ').str[1]


salary["Player"]= salary["Player"].str.lower().str.replace("'", "", regex=True)


salary['Player'] = salary['Player'].str.split(' ').str[0].str[0:3]+salary['Player'].str.split(' ').str[1]

salary['Player']= salary['Player'].str.lower().str.replace('\W', '', regex=True)

#getting player salaries

#payroll = pd.read_csv('team_payroll.csv')
names= dict(zip(lebron.Player,lebron.bref_id))
salary['bref_id'] = salary['Player'].map(names)
salary['bref_id']=np.where(salary.Name =='Markieff Morris','morrima02',salary.bref_id)
#salary['bref_id']=np.where(salary.Name =='Josh Richardson','richani01',salary.bref_id)

#salary['team'] = salary['team'].map(name_map)

#print(names)
lebron.rename(columns={'year':'Year'},inplace = True)
lebron.rename(columns={'team':'Team'},inplace = True)
salary.rename(columns={'year':'Year'},inplace = True)

#salary.rename(columns={'team':'team_name'},inplace = True)
#payroll.rename(columns={'year':'Year'},inplace = True)
#salary = salary.rename(columns={'Player':'Name'})
#getting team payroll
salary = salary[salary.Year>=2010]
salary = salary[salary.Name!='Totals']
salary = salary[salary.Name!='totals']

#salary[salary.bref_id.isnull()]

#salary
salary[salary.bref_id.isnull()]['Name'].unique()
lebron = lebron[lebron.Year==2025]
old_ids = lebron.bref_id.tolist()

https://hoopshype.com/salaries/players/2023-2024
https://hoopshype.com/salaries/players/
https://hoopshype.com/salaries/players/2023-2024
https://hoopshype.com/salaries/players/
Index(['Player', 'Salary', 'Inflation_Salary', 'year'], dtype='object')
                       Player    Salary Inflation_Salary  year  \
135             Nicolas Batum  11710818         11710818  2024
163           Nicolas Claxton   9625000          9625000  2024
252  Nickeil Alexander-Walker   4687500          4687500  2024
330          Andrew Nicholson   2844429          2844429  2024
362                Nick Smith   2463912          2463912  2024
57            Nicolas Claxton  27556817         27556817  2025
248             Nick Richards   5000000          5000000  2025
258             Nicolas Batum   4668000          4668000  2025
266  Nickeil Alexander-Walker   4312500          4312500  2025
355                Nick Smith   2587108          2587108  2025
0               Nick Richards   5000000          5000000  2025

                         Name
135             Nicolas Batum
163           Nicolas Claxton
252  Nickeil Alexander-Walker
330          Andrew Nicholson
362                Nick Smith
57            Nicolas Claxton
248             Nick Richards
258             Nicolas Batum
266  Nickeil Alexander-Walker
355                Nick Smith
0               Nick Richards

In [85]:
salary.columns

Index(['Player', 'Salary', 'Inflation_Salary', 'Year', 'Name', 'bref_id'], dtype='object')

In [86]:
salary.sort_values(by=['Year','Salary'])

,Player,Salary,Inflation_Salary,Year,Name,bref_id
471,ajlawson,1000000,1000000,2024,AJ Lawson,lawsoaj01
156,alhorford,10000000,10000000,2024,Al Horford,horfoal01
470,dombarlow,1015402,1015402,2024,Dominick Barlow,barlodo01
155,lanshamet,10250000,10250000,2024,Landry Shamet,shamela01
469,guisantos,1029483,1029483,2024,Gui Santos,santogu01
...,...,...,...,...,...,...
461,matryan,978541,978541,2025,Matt Ryan,ryanma01
460,marfultz,981902,981902,2025,Markelle Fultz,fultzma01
165,alecaruso,9890000,9890000,2025,Alex Caruso,carusal01
164,jonvalanciunas,9900000,9900000,2025,Jonas Valanciunas,valanjo01
163,mikconley,9975962,9975962,2025,Mike Conley,conlemi01

In [87]:
lebron.merge(salary)
new_ids = lebron.bref_id.tolist()
set(old_ids)-set(new_ids)

set()

In [88]:
salary

           Player    Salary Inflation_Salary  Year             Name    bref_id
0        stecurry  51915615         51915615  2024    Stephen Curry  curryst01
1       kevdurant  47649433         47649433  2024     Kevin Durant  duranke01
2        nikjokic  47607350         47607350  2024     Nikola Jokic  jokicni01
3        lebjames  47607350         47607350  2024     LeBron James  jamesle01
4       joeembiid  47607350         47607350  2024      Joel Embiid  embiijo01
..            ...       ...              ...   ...              ...        ...
605    phiwheeler     66503            66503  2025  Phillip Wheeler  wheelph02
606  eristevenson     66503            66503  2025   Erik Stevenson        NaN
607      terdavis     64301            64301  2025    Terence Davis  daviste02
608      javmccoy     32596            32596  2025    Javante McCoy        NaN
0     nicrichards   5000000          5000000  2025    Nick Richards  richani01

[1222 rows x 6 columns]

In [89]:
lebron = lebron[lebron.Year==2025]

In [90]:

lebron['lastname'] = lebron['Player'].str.split(' ').str[-1]
lebron = lebron.rename(columns={'Team':'team'})
short = lebron[['Year','team','lastname','LEBRON']]
short[short.lastname=='giddens']
null = salary[salary.bref_id.isnull()]
null['lastname'] = null['Name'].str.split(' ').str[-1].str.lower()
null[null.lastname=='giddens']
temp = null.merge(short, on = ['Year','lastname'],how='left')
temp[temp.LEBRON.isnull()]

/tmp/ipykernel_119600/1833644676.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null['lastname'] = null['Name'].str.split(' ').str[-1].str.lower()

,Player,Salary,Inflation_Salary,Year,Name,bref_id,lastname,team,LEBRON
0,xavcooks,1719864,1719864,2024,Xavier Cooks,NaN,cooks,NaN,NaN
1,keyjohnson,559782,559782,2024,Keyontae Johnson,NaN,johnson,NaN,NaN
2,marbolden,502131,502131,2024,Marques Bolden,NaN,bolden,NaN,NaN
3,hendrell,389274,389274,2024,Henri Drell,NaN,drell,NaN,NaN
4,malhill,286583,286583,2024,Malcolm Hill,NaN,hill,NaN,NaN
5,chabediako,215548,215548,2024,Charles Bediako,NaN,bediako,NaN,NaN
6,juslewis,173725,173725,2024,Justin Lewis,NaN,lewis,NaN,NaN
7,sirrice,167291,167291,2024,Sir'Jabari Rice,NaN,rice,NaN,NaN
8,andfunk,160857,160857,2024,Andrew Funk,NaN,funk,NaN,NaN
9,jaygalloway,141554,141554,2024,Jaylin Galloway,NaN,galloway,NaN,NaN
10,maopereira,128685,128685,2024,Maozinha Pereira,NaN,pereira,NaN,NaN
11,malwilliams,77212,77212,2024,Malik Williams,NaN,williams,NaN,NaN
12,omamoore,75000,75000,2024,Omari Moore,NaN,moore,NaN,NaN
13,timallen,64343,64343,2024,Timmy Allen,NaN,allen,NaN,NaN
14,izabrockington,64343,64343,2024,Izaiah Brockington,NaN,brockington,NaN,NaN
15,taekinsey,64343,64343,2024,Taevion Kinsey,NaN,kinsey,NaN,NaN
16,tidsalaun,7488720,7488720,2025,Tidjane Salaun,NaN,salaun,NaN,NaN
17,niktopic,4935960,4935960,2025,Nikola Topic,NaN,topic,NaN,NaN
18,carcarrington,4454880,4454880,2025,Carlton Carrington,NaN,carrington,NaN,NaN
19,darholmes,3065640,3065640,2025,DaRon Holmes,NaN,holmes,NaN,NaN
20,izabrockington,1862265,1862265,2025,Izaiah Brockington,NaN,brockington,NaN,NaN
21,karmatkovic,1407153,1407153,2025,Karlo Matkovic,NaN,matkovic,NaN,NaN
22,jeewilliams,940543,940543,2025,Jeenathan Williams,NaN,williams,NaN,NaN
23,armtraore,578577,578577,2025,Armel Traore,NaN,traore,NaN,NaN
24,djsteward,215548,215548,2025,DJ Steward,NaN,steward,NaN,NaN
25,eththompson,212331,212331,2025,Ethan Thompson,NaN,thompson,NaN,NaN
26,davjones,175480,175480,2025,David Jones,NaN,jones,NaN,NaN
27,tararmstrong,157640,157640,2025,Taran Armstrong,NaN,armstrong,NaN,NaN
28,boobuie,143308,143308,2025,Boo Buie,NaN,buie,NaN,NaN
29,jaygalloway,77500,77500,2025,Jaylin Galloway,NaN,galloway,NaN,NaN
30,taekinsey,77500,77500,2025,Taevion Kinsey,NaN,kinsey,NaN,NaN
31,malhill,75000,75000,2025,Malcolm Hill,NaN,hill,NaN,NaN
32,eristevenson,66503,66503,2025,Erik Stevenson,NaN,stevenson,NaN,NaN
33,javmccoy,32596,32596,2025,Javante McCoy,NaN,mccoy,NaN,NaN

In [91]:
'''
salaries
current = pd.read_csv('../data/pay_table.csv')
lebron= pd.read_csv('lebron.csv')
print(lebron.columns)
print(current.columns)
print(set(current.columns)-set(lebron.columns))
lebron = lebron[lebron.year==2025]
'''

"\nsalaries\ncurrent = pd.read_csv('../data/pay_table.csv')\nlebron= pd.read_csv('lebron.csv')\nprint(lebron.columns)\nprint(current.columns)\nprint(set(current.columns)-set(lebron.columns))\nlebron = lebron[lebron.year==2025]\n"

In [92]:
lebron.columns

Index(['Season', 'Player', 'team', 'Minutes', 'Pos', 'Offensive Archetype',
       'WAR', 'LEBRON', 'O-LEBRON', 'D-LEBRON', 'Year', 'Defensive Role',
       'NBA ID', 'bref_id', 'Games', 'Age', 'lastname'],
      dtype='object')

In [93]:
salary.columns

Index(['Player', 'Salary', 'Inflation_Salary', 'Year', 'Name', 'bref_id'], dtype='object')

In [94]:

#salary = salary.drop(columns=['Player'])

salary.rename(columns={'Year':'year'},inplace=True)
salary['Salary']=salary['Salary'].replace('[\$,]', '', regex=True).astype(float)
salary=salary[salary.year==2025]
year_total = salary.groupby('year')['Salary'].sum().reset_index()

games = games_per_year()
print(games.columns)

games.columns = ['year','G']
year_total = year_total.merge(games)
print(year_total['G'])
year_total['Salary']/=year_total['G']
#year_total['Salary']/=1280
year_total.rename(columns ={'Salary':'Win_Cost'},inplace = True)
year_total.drop_duplicates(inplace=True)
pay_table = salary.merge(year_total)
pay_table.fillna(0,inplace = True)
#pay_table['bref_id'].replace({'richani01':'richajo01'}, inplace=True)


#lebron.drop(columns='Player',inplace=True)
pay_table = pay_table.merge(lebron,how='left',on='bref_id')
print(pay_table.columns)
#pay_table['team'] = pay_table['team_x']
#pay_table = pay_table.drop(columns='team')
pay_table['WAR'] = pay_table['WAR'].fillna(0)
pay_table['WAC']= pay_table['WAR'] - (pay_table['Salary']/pay_table['Win_Cost'])
pay_table = pay_table.sort_values(by='WAC')
temp_bron = pd.read_csv('lebron.csv')
id_list = pay_table['NBA ID'].unique().tolist()
temp_bron = temp_bron[~temp_bron['NBA ID'].isin(id_list) ]

#null_names= dict(zip(temp_bron.Player.str.split(' ').str[0],temp_bron.bref_id))
#temp_data = pd.read_csv('players.csv')

#null = null[['Salary','Inflation_Salary','year','team','Name']]
#null['name'] = null.Name.str.split(' ').str[0]
#null['bref_id'] = null['Name'].map(null_names)
#null[null.bref_id.isnull()]

Index(['Year', 'G'], dtype='object')
0    1230
Name: G, dtype: int64
Index(['Player_x', 'Salary', 'Inflation_Salary', 'year', 'Name', 'bref_id',
       'Win_Cost', 'G', 'Season', 'Player_y', 'team', 'Minutes', 'Pos',
       'Offensive Archetype', 'WAR', 'LEBRON', 'O-LEBRON', 'D-LEBRON', 'Year',
       'Defensive Role', 'NBA ID', 'Games', 'Age', 'lastname'],
      dtype='object')

In [95]:
print(pay_table.columns)

Index(['Player_x', 'Salary', 'Inflation_Salary', 'year', 'Name', 'bref_id',
       'Win_Cost', 'G', 'Season', 'Player_y', 'team', 'Minutes', 'Pos',
       'Offensive Archetype', 'WAR', 'LEBRON', 'O-LEBRON', 'D-LEBRON', 'Year',
       'Defensive Role', 'NBA ID', 'Games', 'Age', 'lastname', 'WAC'],
      dtype='object')

In [96]:
pay_table.columns#pay_table['WAR'] = pay_table['LEBRON WAR']
pay_table['Team']=pay_table['team']
pay_table['Player'] = pay_table['Player_x']
pay_table.drop(columns=[

 'Player_x',
 'Player_y',

 'lastname',
],inplace=True)
pay_table[pay_table.Year==2025]

pay_table[pay_table.bref_id=='thompkl01']

,Salary,Inflation_Salary,year,Name,bref_id,Win_Cost,G,Season,team,Minutes,...,O-LEBRON,D-LEBRON,Year,Defensive Role,NBA ID,Games,Age,WAC,Team,Player
106,15873016.0,15873016,2025,Klay Thompson,thompkl01,4.288717e+06,1230,2024-25,DAL,1964.568333,...,0.413317,-1.478113,2025.0,Chaser,202691.0,72.0,35.0,-1.99699,DAL,klathompson

In [97]:
old_pay = pd.read_csv('pay_table.csv')
print((old_pay.columns))

Index(['G', 'Inflation_Salary', 'Salary', 'NBA ID', 'bref_id', 'Year', 'Name',
       'Win_Cost', 'Season', 'Player', 'team', 'Minutes', 'Pos',
       'Offensive Archetype', 'WAR', 'LEBRON', 'O-LEBRON', 'D-LEBRON',
       'Defensive Role', 'Games', 'Age', 'WAC'],
      dtype='object')

In [98]:
pay_table = pay_table.drop_duplicates(subset='bref_id')
filt = pay_table[pay_table.LEBRON.isnull()]
filt

,Salary,Inflation_Salary,year,Name,bref_id,Win_Cost,G,Season,team,Minutes,...,O-LEBRON,D-LEBRON,Year,Defensive Role,NBA ID,Games,Age,WAC,Team,Player
90,19032850.0,19032850,2025,Bojan Bogdanovic,bogdabo02,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.437889,NaN,bojbogdanovic
205,7488720.0,7488720,2025,Tidjane Salaun,0,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.746144,NaN,tidsalaun
217,6440678.0,6440678,2025,Saddiq Bey,beysa01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.501773,NaN,sadbey
238,5250000.0,5250000,2025,Davis Bertans,bertada01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.224142,NaN,davbertans
291,3500000.0,3500000,2025,Cody Zeller,zelleco01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.816095,NaN,codzeller
320,3107143.0,3107143,2025,Nassir Little,littlna01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.724492,NaN,naslittle
325,3036040.0,3036040,2025,Christian Wood,woodch01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.707913,NaN,chrwood
337,2850000.0,2850000,2025,Devonte Graham,grahade01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.664534,NaN,devgraham
349,2654644.0,2654644,2025,Keita Bates-Diop,bateske01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.618983,NaN,keibatesdiop
374,2237692.0,2237692,2025,Charlie Brown,brownch02,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.521763,NaN,chabrown
380,2208856.0,2208856,2025,JaVale McGee,mcgeeja01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.515039,NaN,javmcgee
385,2162607.0,2162607,2025,Duane Washington Jr,washidu02,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.504255,NaN,duawashington
406,2019699.0,2019699,2025,Kennedy Chandler,chandke01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.470933,NaN,kenchandler
442,1300000.0,1300000,2025,Eric Bledsoe,bledser01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.303121,NaN,eribledsoe
459,1000000.0,1000000,2025,Josh Primo,primojo01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.233170,NaN,josprimo
476,702311.0,702311,2025,Nik Stauskas,stausni01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.163758,NaN,nikstauskas
535,576230.0,576230,2025,Juwan Morgan,morgaju01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.134360,NaN,juwmorgan
537,555217.0,555217,2025,Malik Fitts,fittsma01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.129460,NaN,malfitts
542,464050.0,464050,2025,Mamadi Diakite,diakima01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.108203,NaN,mamdiakite
546,424672.0,424672,2025,Ricky Rubio,rubiori01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.099021,NaN,ricrubio
558,328148.0,328148,2025,Seth Lundy,lundyse01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.076514,NaN,setlundy
565,289289.0,289289,2025,Jason Preston,prestja01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.067454,NaN,jaspreston
566,268032.0,268032,2025,Didi Louzada,louzama01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.062497,NaN,didlouzada
568,250000.0,250000,2025,AJ Griffin,griffaj01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.058292,NaN,ajgriffin
579,154423.0,154423,2025,Kendall Brown,brownke03,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.036007,NaN,kenbrown
580,154423.0,154423,2025,Jalen Crutcher,crutcja01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.036007,NaN,jalcrutcher
594,124288.0,124288,2025,Eugene Omoruyi,omorueu01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.028980,NaN,eugomoruyi
595,119972.0,119972,2025,Kevon Harris,harrike01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.027974,NaN,kevharris
598,100000.0,100000,2025,Javon Freeman-Liberty,freemja01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.023317,NaN,javfreemanliberty
600,77500.0,77500,2025,Anzejs Pasecniks,pasecan01,4.288717e+06,1230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.018071,NaN,anzpasecniks

In [99]:
pay_table[~pay_table.LEBRON.isnull()]

,Salary,Inflation_Salary,year,Name,bref_id,Win_Cost,G,Season,team,Minutes,...,O-LEBRON,D-LEBRON,Year,Defensive Role,NBA ID,Games,Age,WAC,Team,Player
2,51415938.0,51415938,2025,Joel Embiid,embiijo01,4.288717e+06,1230,2024-25,PHI,574.393333,...,2.381411,-0.405903,2025.0,Anchor Big,203954.0,19.0,31.0,-10.387042,PHI,joeembiid
4,50203930.0,50203930,2025,Bradley Beal,bealbr01,4.288717e+06,1230,2024-25,PHO,1702.191667,...,0.141147,-0.930966,2025.0,Point of Attack,203078.0,53.0,31.0,-9.933659,PHO,brabeal
8,49205800.0,49205800,2025,Paul George,georgpa01,4.288717e+06,1230,2024-25,PHI,1333.593333,...,-0.337498,-0.083431,2025.0,Helper,202331.0,41.0,34.0,-9.773210,PHI,paugeorge
9,49205800.0,49205800,2025,Kawhi Leonard,leonaka01,4.288717e+06,1230,2024-25,LAC,1179.956667,...,1.564183,0.134552,2025.0,Helper,202695.0,37.0,33.0,-8.387754,LAC,kawleonard
25,40338144.0,40338144,2025,Ben Simmons,simmobe01,4.288717e+06,1230,2024-25,BRK/LAC,1119.693333,...,-1.767356,0.952707,2025.0,Helper,1627732.0,51.0,28.0,-8.257434,BRK/LAC,bensimmons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,5424654.0,5424654,2025,Alperen Sengun,sengual01,4.288717e+06,1230,2024-25,HOU,2394.976667,...,1.023173,0.906499,2025.0,Mobile Big,1630578.0,76.0,22.0,5.341344,HOU,alpsengun
147,11227657.0,11227657,2025,Evan Mobley,mobleev01,4.288717e+06,1230,2024-25,CLE,2166.555000,...,1.705784,1.731534,2025.0,Mobile Big,1630596.0,71.0,23.0,5.376746,CLE,evamobley
142,11743210.0,11743210,2025,Ivica Zubac,zubaciv01,4.288717e+06,1230,2024-25,LAC,2624.176667,...,0.837893,1.755221,2025.0,Anchor Big,1627826.0,80.0,28.0,5.587713,LAC,ivizubac
34,35859950.0,35859950,2025,Shai Gilgeous-Alexander,gilgesh01,4.288717e+06,1230,2024-25,OKC,2597.630000,...,5.855858,0.878482,2025.0,Helper,1628983.0,76.0,26.0,6.156119,OKC,shagilgeousalexander
254,4775760.0,4775760,2025,Jalen Williams,willija06,4.288717e+06,1230,2024-25,OKC,2236.673333,...,2.264667,0.961474,2025.0,Helper,1631114.0,69.0,24.0,6.852134,OKC,jalwilliams

In [100]:


filt = pay_table[~pay_table.LEBRON.isnull()]
not_found = set(old_ids)-set(filt.bref_id.tolist())



lebron[lebron.bref_id.isin(not_found)]
index=pd.read_csv('index_master.csv')


index_id=dict(zip(index.bref_id,index.nba_id))

In [101]:

#old_pay = old_pay[old_pay.Year!=2025]
#old_pay.drop(columns='Unnamed: 0',inplace = True)
pay_table.loc[pay_table['Name'] == 'Tidjane Salaun', 'NBA ID'] = 1642275
pay_table.loc[pay_table['Name'] == 'Tidjane Salaun', 'bref_id'] = "salauti01"

pay_table['NBA ID'] = pay_table['bref_id'].map(index_id)

print(pay_table[pay_table['NBA ID'].isna()])

pay_table['NBA ID']=pay_table['NBA ID'].astype(int)


new_pay = pd.concat([old_pay,pay_table])
new_pay['NBA ID'] = new_pay['bref_id'].map(index_id)

print(new_pay[new_pay['NBA ID'].isna()])

new_pay



new_pay

Empty DataFrame
Columns: [Salary, Inflation_Salary, year, Name, bref_id, Win_Cost, G, Season, team, Minutes, Pos, Offensive Archetype, WAR, LEBRON, O-LEBRON, D-LEBRON, Year, Defensive Role, NBA ID, Games, Age, WAC, Team, Player]
Index: []

[0 rows x 24 columns]

         G Inflation_Salary      Salary  NBA ID    bref_id    Year  \
56    1230      $20,250,263  14896000.0     NaN          0  2011.0
95    1230      $18,397,430  13392000.0     NaN          0  2010.0
151   1229      $15,257,089  11815850.0     NaN          0  2013.0
162    990      $14,460,785  11015850.0     NaN          0  2012.0
202   1230      $13,887,866  10215850.0     NaN          0  2011.0
...    ...              ...         ...     ...        ...     ...
5371  1080          $22,987     20000.0     NaN          0  2021.0
5376  1230          $18,226     18226.0     NaN          0  2023.0
5387  1230           $7,376      6000.0     NaN          0  2017.0
8134  1230          2424892   2424892.0     NaN          0  2024.0
8138  1230          5569872   5569872.0     NaN  hendrita0  2024.0

                    Name      Win_Cost Season Player  ... WAR  LEBRON  \
56    Predrag Stojakovic  1.582711e+06    NaN    NaN  ... NaN     NaN
95    Predrag Stojakovic  1.650870e+06    NaN    NaN  ... NaN     NaN
151     Hidayet Turkoglu  1.649523e+06    NaN    NaN  ... NaN     NaN
162     Hidayet Turkoglu  1.575137e+06    NaN    NaN  ... NaN     NaN
202     Hidayet Turkoglu  1.582711e+06    NaN    NaN  ... NaN     NaN
...                  ...           ...    ...    ...  ...  ..     ...
5371      Caleb Homesley  3.050930e+06    NaN    NaN  ... NaN     NaN
5376          Ibou Badji  3.555763e+06    NaN    NaN  ... NaN     NaN
5387      Walter Tavares  2.317250e+06    NaN    NaN  ... NaN     NaN
8134    Tristan Vukcevic  4.010183e+06    NaN    NaN  ... NaN     NaN
8138    Taylor Hendricks  4.010183e+06    NaN    NaN  ... NaN     NaN

     O-LEBRON D-LEBRON  Defensive Role  Games  Age  WAC year  Team
56        NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
95        NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
151       NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
162       NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
202       NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
...       ...      ...             ...    ...  ...  ...  ...   ...
5371      NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
5376      NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
5387      NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
8134      NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN
8138      NaN      NaN             NaN    NaN  NaN  NaN  NaN   NaN

[142 rows x 24 columns]

,G,Inflation_Salary,Salary,NBA ID,bref_id,Year,Name,Win_Cost,Season,Player,...,WAR,LEBRON,O-LEBRON,D-LEBRON,Defensive Role,Games,Age,WAC,year,Team
0,1230,"$38,644,129",30453000.0,977.0,bryanko01,2014.0,Kobe Bryant,1.654776e+06,2013-14,kobe bryant,...,0.120000,-1.270000,-0.780000,-0.490000,Chaser,6.0,35.0,-18.283096,NaN,NaN
1,1059,"$46,540,848",40231758.0,201939.0,curryst01,2020.0,Stephen Curry,2.785105e+06,2019-20,stephen curry,...,0.360000,1.620000,1.350000,0.280000,Chaser,5.0,31.0,-14.085331,NaN,NaN
2,1230,"$48,325,294",44310840.0,202322.0,walljo01,2022.0,John Wall,3.220158e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1059,"$44,189,315",38199000.0,202322.0,walljo01,2020.0,John Wall,2.785105e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,990,"$27,746,592",21136631.0,1740.0,lewisra02,2012.0,Rashard Lewis,1.575137e+06,2011-12,rashard lewis,...,-0.040000,-2.320000,-2.000000,-0.320000,NaN,28.0,32.0,-13.458917,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,1230,5424654,5424654.0,1630578.0,sengual01,2025.0,Alperen Sengun,4.288717e+06,2024-25,alpsengun,...,6.606210,1.929672,1.023173,0.906499,Mobile Big,76.0,22.0,5.341344,2025.0,HOU
147,1230,11227657,11227657.0,1630596.0,mobleev01,2025.0,Evan Mobley,4.288717e+06,2024-25,evamobley,...,7.994698,3.437318,1.705784,1.731534,Mobile Big,71.0,23.0,5.376746,2025.0,CLE
142,1230,11743210,11743210.0,1627826.0,zubaciv01,2025.0,Ivica Zubac,4.288717e+06,2024-25,ivizubac,...,8.325877,2.593114,0.837893,1.755221,Anchor Big,80.0,28.0,5.587713,2025.0,LAC
34,1230,35859950,35859950.0,1628983.0,gilgesh01,2025.0,Shai Gilgeous-Alexander,4.288717e+06,2024-25,shagilgeousalexander,...,14.517581,6.734340,5.855858,0.878482,Helper,76.0,26.0,6.156119,2025.0,OKC
254,1230,4775760,4775760.0,1631114.0,willija06,2025.0,Jalen Williams,4.288717e+06,2024-25,jalwilliams,...,7.965698,3.226142,2.264667,0.961474,Helper,69.0,24.0,6.852134,2025.0,OKC

In [ ]:
import pandas as pd
import numpy as np

# --- Fix Season and year columns ---
def year_to_season(year):
    if pd.isna(year):
        return np.nan
    year = int(year)
    return f"{year-1}-{str(year)[-2:]}"

def season_to_year(season):
    if pd.isna(season):
        return np.nan
    return int(season.split('-')[1]) + 2000 if int(season.split('-')[1]) < 50 else int(season.split('-')[1]) + 1900

new_pay['Season'] = new_pay['Season'].fillna(new_pay['year'].apply(year_to_season))
new_pay['year'] = new_pay['year'].fillna(new_pay['Season'].apply(season_to_year))

# --- Fix team and all_teams columns ---
def extract_last_team(team_str):
    if pd.isna(team_str):
        return np.nan
    return team_str.split('/')[-1]

# Rename 'Team' to 'all_teams'
new_pay = new_pay.rename(columns={'Team': 'all_teams'})

# If 'team' is NaN, use last part of 'all_teams'
new_pay['team'] = new_pay['team'].fillna(new_pay['all_teams'])

# If 'team' contains '/', extract last part
mask_dash = new_pay['team'].str.contains('/', na=False)
new_pay.loc[mask_dash, 'team'] = new_pay.loc[mask_dash, 'team'].apply(extract_last_team)

# If 'all_teams' is blank but 'team' exists, fill all_teams with team
new_pay['all_teams'] = new_pay['all_teams'].fillna(new_pay['team'])

# --- Save ---
new_pay.to_csv('../web_app/data/pay_table.csv', index=False)

In [105]:
print(new_pay)

        G Inflation_Salary      Salary     NBA ID    bref_id    Year  \
0    1230      $38,644,129  30453000.0      977.0  bryanko01  2014.0
1    1059      $46,540,848  40231758.0   201939.0  curryst01  2020.0
2    1230      $48,325,294  44310840.0   202322.0   walljo01  2022.0
3    1059      $44,189,315  38199000.0   202322.0   walljo01  2020.0
4     990      $27,746,592  21136631.0     1740.0  lewisra02  2012.0
..    ...              ...         ...        ...        ...     ...
235  1230          5424654   5424654.0  1630578.0  sengual01  2025.0
147  1230         11227657  11227657.0  1630596.0  mobleev01  2025.0
142  1230         11743210  11743210.0  1627826.0  zubaciv01  2025.0
34   1230         35859950  35859950.0  1628983.0  gilgesh01  2025.0
254  1230          4775760   4775760.0  1631114.0  willija06  2025.0

                        Name      Win_Cost   Season                Player  \
0                Kobe Bryant  1.654776e+06  2013-14           kobe bryant
1              Stephen Curry  2.785105e+06  2019-20         stephen curry
2                  John Wall  3.220158e+06      NaN                   NaN
3                  John Wall  2.785105e+06      NaN                   NaN
4              Rashard Lewis  1.575137e+06  2011-12         rashard lewis
..                       ...           ...      ...                   ...
235           Alperen Sengun  4.288717e+06  2024-25             alpsengun
147              Evan Mobley  4.288717e+06  2024-25             evamobley
142              Ivica Zubac  4.288717e+06  2024-25              ivizubac
34   Shai Gilgeous-Alexander  4.288717e+06  2024-25  shagilgeousalexander
254           Jalen Williams  4.288717e+06  2024-25           jalwilliams

     ...        WAR    LEBRON  O-LEBRON  D-LEBRON  Defensive Role  Games  \
0    ...   0.120000 -1.270000 -0.780000 -0.490000          Chaser    6.0
1    ...   0.360000  1.620000  1.350000  0.280000          Chaser    5.0
2    ...        NaN       NaN       NaN       NaN             NaN    NaN
3    ...        NaN       NaN       NaN       NaN             NaN    NaN
4    ...  -0.040000 -2.320000 -2.000000 -0.320000             NaN   28.0
..   ...        ...       ...       ...       ...             ...    ...
235  ...   6.606210  1.929672  1.023173  0.906499      Mobile Big   76.0
147  ...   7.994698  3.437318  1.705784  1.731534      Mobile Big   71.0
142  ...   8.325877  2.593114  0.837893  1.755221      Anchor Big   80.0
34   ...  14.517581  6.734340  5.855858  0.878482          Helper   76.0
254  ...   7.965698  3.226142  2.264667  0.961474          Helper   69.0

      Age        WAC    year  all_teams
0    35.0 -18.283096     NaN        NaN
1    31.0 -14.085331     NaN        NaN
2     NaN        NaN     NaN        NaN
3     NaN        NaN     NaN        NaN
4    32.0 -13.458917     NaN        NaN
..    ...        ...     ...        ...
235  22.0   5.341344  2025.0        HOU
147  23.0   5.376746  2025.0        CLE
142  28.0   5.587713  2025.0        LAC
34   26.0   6.156119  2025.0        OKC
254  24.0   6.852134  2025.0        OKC

[9112 rows x 24 columns]

In [104]:
new_pay['year'].unique()

array([  nan, 2025.])