In [12]:
from selenium import webdriver
import requests
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
from pathlib import Path
import time
from unidecode import unidecode
import pandas as pd
import json
import urllib

In [15]:


print(data[0].keys())

<Response [200]>
dict_keys(['options', 'value'])

In [49]:
def fiveyear():
    chunk = 0
    all_found=False
    frames = []
    while all_found == False:

        print(chunk)
        url= "https://www.thespax.com/wp-admin/admin-ajax.php?action=wp_ajax_ninja_tables_public_action&table_id=4332&target_action=get-all-data&default_sorting=old_first&skip_rows=0&limit_rows=0&chunk_number="+str(chunk)+"&ninja_table_public_nonce=4d7647466f"
        response = requests.get(url)
        if chunk<6:
            data = response.json()
            df = pd.json_normalize(data, meta=['options', 'value',[ 'player'], ['seasons'], ['rapm'], ['periodrank'],['overallrank'],['___id___']])
            df.drop(columns='options.classes',inplace=True)
            df.columns=['player','seasons','poss','rapm','period_rank','overallrank','id']
            frames.append(df)
            chunk+=1

        else:
            all_found=True
    rapm = pd.concat(frames)
    return rapm
rapm = fiveyear()

0
1
2
3
4
5
6

In [53]:
rapm['poss'] = rapm['poss'].astype(int)
rapm.to_csv('rapm_5year.csv',index= False)

In [55]:
rapm.sort_values(by='poss',ascending = False).head(25)

                player  seasons   poss  rapm period_rank overallrank     id
39        LeBron James  2014-18  85035  5.17           3          40  32770
97         Kobe Bryant  2006-10  84421  4.26           5          98  32828
22        LeBron James  2011-15  84252  5.54           1          23  32753
2805     Klay Thompson  2015-19  83693  0.18         309        5806  38536
1         LeBron James  2013-17  83609  6.27           1           2  32732
32        LeBron James  2010-14  83111  5.29           1          33  32763
0         LeBron James  2012-16  82723  6.46           1           1  32731
238        Kobe Bryant  2007-11  82565  3.39          10         239  32969
154       Kevin Durant  2010-14  82286  3.85           5         155  32885
21        LeBron James  2009-13  82158  5.55           1          22  32752
438        Kobe Bryant  2000-04  81961  2.76          23         439  33169
25        LeBron James  2007-11  81870  5.51           1          26  32756
59      Draymond Green  2015-19  81852  4.83           4          60  32790
405        Kobe Bryant  2008-12  80644  2.86          18         406  33136
3         LeBron James  2006-10  80506  6.15           1           4  32734
13        LeBron James  2008-12  79680  5.71           1          14  32744
310       Shawn Marion  2003-07  79510  3.11          15         311  33041
1668     Klay Thompson  2014-18  79416  1.47          79        1669  34399
18       Stephen Curry  2013-17  78989  5.60           3          19  32749
873    Tayshaun Prince  2004-08  78909  2.10          41         874  33604
45    Shaquille O'Neal  2000-04  78579  5.10           3          46  32776
627   Richard Hamilton  2003-07  78420  2.40          26         628  33358
12        LeBron James  2005-09  78411  5.73           1          13  32743
134      Dirk Nowitzki  2002-06  78353  3.97           7         135  32865
942      Klay Thompson  2013-17  78131  2.03          48         943  33673

In [42]:
response.status_code.dtpe

AttributeError: 'int' object has no attribute 'dtpe'