In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/gabriel1200/site_Data/main/player_tracking/pullup.csv')

In [6]:
df

,PLAYER,TEAM,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,eFG%
0,A.J. Lawson,MIN,1,1,0,2,0,0,0,-,-,-,-,-
1,AJ Green,MIL,9,9,0,48,2,1,4,25.0,0,2,0.0,25.0
2,AJ Griffin,ATL,24,10,14,500,72,32,72,44.4,8,25,32.0,50.0
3,Aaron Gordon,DEN,23,15,8,677,39,15,35,42.9,9,20,45.0,55.7
4,Aaron Holiday,ATL,25,14,11,451,27,12,28,42.9,3,6,50.0,48.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,Zach Collins,SAS,17,8,9,351,2,1,6,16.7,0,2,0.0,16.7
480,Zach LaVine,CHI,22,10,12,752,144,57,158,36.1,30,89,33.7,45.6
481,Zeke Nnaji,DEN,18,10,8,181,0,0,0,-,0,0,-,-
482,Ziaire Williams,MEM,3,3,0,56,0,0,6,0.0,0,3,0.0,0.0
483,Zion Williamson,NOP,21,15,6,688,6,3,14,21.4,0,2,0.0,21.4